<section class="module parallax" data-background="assets/images/module-4.jpg" data-overlay="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="review-slides owl-carousel">
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>I don't work from drawings. I don't make sketches and drawings <br/> and color sketches into a final painting.</p>
                                            <footer class="blockquote-footer">Albert Einstein</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>To be yourself in a world that is constantly trying to make you <br/> something else is the greatest accomplishment.</p>
                                            <footer class="blockquote-footer">Ralph Waldo Emerson</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>Imperfection is beauty, madness is genius and it's better to be <br/> absolutely ridiculous than absolutely boring.</p>
                                            <footer class="blockquote-footer">Marilyn Monroe</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                </div>
            </section>
<div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-7 col-lg-8 mb-5 mb-md-0">
          <!-- Clients Section -->
          <div class="row justify-content-center border-top space-top-2">
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/slack.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/google.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/spotify.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/airbnb.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="assets/svg/clients-logo/shopify.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="assets/svg/clients-logo/netflix.svg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Clients Section -->
        </div>

        <div class="col-md-5 col-lg-4">
          <div class="pl-md-4">
            <span class="d-block display-3 text-primary font-weight-medium text-lh-sm">99.9%</span>
            <p>Believe basic computer skills are all you need to plan projects with Front Pay.</p>
          </div>
        </div>
      </div>
    </div>
