<section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h1>Digital Design.</h1>
                            <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p><img class="img-shadow" src="https://static.elektropay.com/assets/img/main/about-1.jpg" alt=""></p>
                        </div>
                        <div class="col-md-4">
                            <p><img class="img-shadow" src="https://static.elektropay.com/assets/img/main/about-2.jpg" alt=""></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="40px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="number-box">
                                <h6 class="number-box-header"><span class="number-box-number">01</span><span class="number-box-title">Development</span></h6>
                                <div class="number-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="number-box">
                                <h6 class="number-box-header"><span class="number-box-number">02</span><span class="number-box-title">Branding</span></h6>
                                <div class="number-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="number-box">
                                <h6 class="number-box-header"><span class="number-box-number">03</span><span class="number-box-title">Web Design</span></h6>
                                <div class="number-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
