
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h1>Meet Elektropay</h1>
                            <p class="lead">As much as we love building payments software, we think our people and company culture are our most vital assets.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p><img class="img-shadow" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1443806954/landing-page-background-95d0cfcbfa7a88691182751427c8f404_ifqebe.jpg" alt=""></p>
                        </div>
                        <div class="col-md-4">
                            <p><img class="img-shadow" src="https://static.elektropay.com/assets/img/main/about-2.jpg" alt=""></p>
                        </div>
                    </div>
                  <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="40px"></div>
                        </div>
                    </div>
                  
                </div>
