<section class="module parallax" data-background="assets/images/module-4.jpg" data-overlay="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="review-slides owl-carousel">
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>I don't work from drawings. I don't make sketches and drawings <br/> and color sketches into a final painting.</p>
                                            <footer class="blockquote-footer">Albert Einstein</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>To be yourself in a world that is constantly trying to make you <br/> something else is the greatest accomplishment.</p>
                                            <footer class="blockquote-footer">Ralph Waldo Emerson</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>Imperfection is beauty, madness is genius and it's better to be <br/> absolutely ridiculous than absolutely boring.</p>
                                            <footer class="blockquote-footer">Marilyn Monroe</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                </div>
            </section>
