  <!-- Pricing Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-9">
        <h2 class="font-weight-medium mb-4">Always know what you'll pay.</h2>
        <p>Once you're setup, instantly withdraw payments or deposit into your bank account within 2-3 business days.</p>
      </div>
      <!-- End Title -->

      <!-- Pricing -->
      <div class="row no-gutters align-items-lg-center mb-11">
        <div class="col-lg-7 shadow-lg rounded">
          <div class="text-center py-11 px-5 px-sm-9">
            <header class="mb-9">
              <div class="mb-1">
                <span class="display-4 text-primary font-weight-medium">1.5%</span>
                <span class="badge badge-indigo badge-pill align-top ml-1">+0.5 USD</span>
              </div>
              <p>per successful transaction</p>
            </header>

            <div class="row justify-content-sm-center align-items-sm-center mb-5">
              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconAccount" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="/assets/svg/illustrations/account-creation.svg" alt=""
                       data-parent="#iconAccount">
                </figure>
                <h4 class="h6">Account creation</h4>
                <!-- End Icon Block -->
              </div>

              <div class="col-sm-1 my-3 my-sm-0">
                <span class="font-size-3 text-primary font-weight-medium">+</span>
              </div>

              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconProAccount" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="/assets/svg/illustrations/pro-account.svg" alt=""
                       data-parent="#iconProAccount">
                </figure>
                <h4 class="h6">Professional account</h4>
                <!-- End Icon Block -->
              </div>
            </div>

            <div class="mb-7">
              <p class="small">Included for 3 months,<br>then $2.5/monthly included VAT</p>
            </div>

            <button type="button" class="btn btn-primary btn-wide btn-pill transition-3d-hover">Get Started</button>
          </div>
        </div>

        <div class="col-lg-5 bg-primary">
          <div class="py-9 px-5 px-sm-9">
            <!-- Info -->
            <ul class="list-unstyled">
              <li class="media pb-3">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">135+ currencies</h4>
                  <p class="text-white-70">Process charges and display prices in your customer's.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Global support</h4>
                  <p class="text-white-70">Businesses in 25+ countries can accept payments.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Secure payment info collection</h4>
                  <p class="text-white-70 mb-0">Use our libraries to collect payment information without sensitive data.</p>
                </div>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </div>
      </div>
      <!-- End Pricing -->

      <!-- CTA -->
      <div class="w-lg-75 mx-lg-auto">
        <div class="media d-block d-sm-flex">
          <figure id="iconGrowingBusiness" class="svg-preloader ie-height-90 w-100 max-width-15 mr-4 mb-3 mb-sm-0">
            <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265661/svg/illustrations/make-it-rain.svg" alt=""
                 data-parent="#iconGrowingBusiness">
          </figure>
          <div class="media-body">
            <h4 class="h6">Grow your business with ElektroPay</h4>
            <p>From startups to Fortune 500s, explore how millions of businesses use ElektroPay to start and scale their commerce.
              <a href="#">
                See our customers
                <span class="fas fa-angle-right ml-1"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- End CTA -->
    </div>
    <!-- End Pricing Section -->



<!-- How To Section -->
    <div class="container space-2 space-top-lg-4 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-5">
        <h2 class="font-weight-medium mb-4">Simple and affordable.<br>Pay as you go.</h2>
        <p>From boarding passes to movie tickets, there's pretty much nothing you can't store with ElektroPay. Plus, you can take your money further with exclusive offers, discounts, and even reminders to use your loyalty card when you enter the store.</p>
      </div>
      <!-- End Title -->

      <!-- Fancybox -->
      <div class="text-center mx-auto mb-11">
        <a class="js-fancybox" href="javascript:;"
           data-src="//youtube.com/j8uxIKcxArA"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Elektropay - Dynmaic Commerce Platform">
          <span class="fas fa-play-circle align-middle text-primary font-size-3 mr-2"></span>
          See how your info is protected
        </a>
      </div>
      <!-- End Fancybox -->

      <!-- Icon Blocks Section -->
      <div class="row justify-content-md-center mb-11">
        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon48" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-48.svg" alt="SVG"
                   data-parent="#icon48">
            </figure>
            <h4 class="h6">How To get Started</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon39" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-39.svg" alt=""
                   data-parent="#icon39">
            </figure>
            <h4 class="h6">Link your bank account</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure id="icon20" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-20.svg" alt=""
                   data-parent="#icon20">
            </figure>
            <h4 class="h6">Your account is validated</h4>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks Section -->

      <div class="max-width-50 mx-auto">
        <img class="img-fluid" src="/assets/svg/illustrations/visa-card.svg" alt="">
      </div>
    </div>
    <!-- End How To Section -->




    <!-- Clients Section -->
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-7 col-lg-8 mb-5 mb-md-0">
          <!-- Clients Section -->
          <div class="row justify-content-center border-top space-top-2">
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="/assets/svg/clients-logo/slack.svg" alt="">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/paypal.svg" alt="">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/stripe.svg" alt="">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="/assets/svg/clients-logo/airbnb.svg" alt="">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="/assets/svg/clients-logo/shopify.svg" alt="">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="/assets/svg/clients-logo/netflix.svg" alt="">
              </div>
            </div>
          </div>
          <!-- End Clients Section -->
        </div>

        <div class="col-md-5 col-lg-4">
          <div class="pl-md-4">
            <span class="d-block display-1 text-primary font-weight-medium text-lh-sm">99.9%</span>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Clients Section -->
