<!-- How To Section -->
    <div class="container space-2 space-top-lg-4 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-5">
        <h2 class="font-weight-medium mb-4">Simple and affordable.<br>Pay as you go.</h2>
        <p>From boarding passes to movie tickets, there's pretty much nothing you can't store with ElektroPay. Plus, you can take your money further with exclusive offers, discounts, and even reminders to use your loyalty card when you enter the store.</p>
      </div>
      <!-- End Title -->

      <!-- Fancybox -->
      <div class="text-center mx-auto mb-11">
        <a class="js-fancybox" href="javascript:;"
           data-src="//youtube.com/j8uxIKcxArA"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Elektropay - Dynmaic Commerce Platform">
          <span class="fas fa-play-circle align-middle text-primary font-size-3 mr-2"></span>
          See how your info is protected
        </a>
      </div>
      <!-- End Fancybox -->

      <!-- Icon Blocks Section -->
      <div class="row justify-content-md-center mb-11">
        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon48" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-48.svg" alt="SVG"
                   data-parent="#icon48">
            </figure>
            <h4 class="h6">Create an account</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon39" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-39.svg" alt=""
                   data-parent="#icon39">
            </figure>
            <h4 class="h6">Link your bank account</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure id="icon20" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="/assets/svg/icons/icon-20.svg" alt=""
                   data-parent="#icon20">
            </figure>
            <h4 class="h6">Your account is validated</h4>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks Section -->

      <div class="max-width-50 mx-auto">
        <img class="img-fluid" src="/assets/svg/illustrations/visa-card.svg" alt="">
      </div>
    </div>
    <!-- End How To Section -->
