<section class="module bg-dark">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h2 class="text-white">Developer Friendly</h2>
                            <p class="lead">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
                            <div class="space" data-my="50px" style="margin-top: 50px;"></div>
                            <div class="">
                              <a class="btn btn-circle btn-light" href="//docs.elektropay.com">Read Our Docs</a>
                            </div>                         
                        </div>
                  
                         <div class="col-lg-5 offset-lg-1">
                          <pre class="ac"><span>1</span> <span>goElektro</span> “who where the last 3 customers?”
<span>2</span>
<span>3</span>  {
<span>4</span>    "Dave": {
<span>5</span>      "fullName": "Dave Gamache",
<span>6</span>      "twitterHandle": "@dhg",
<span>7</span>    }
<span>8</span>    "Mark": {
<span>9</span>      "fullName": "Mark Otto",
<span>10</span>      "twitterHandle": "@mdo",
<span>11</span>    }
<span>12</span>    "Jacob": {
<span>13</span>      "fullName": "Jacob Thornton",
<span>14</span>      "twitterHandle": "@fat",
<span>15</span>    }
<span>16</span>  }</pre>                      
                      </div>    
                      
                    </div>
                 </div>
</section>
