
            <footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Text widget-->
                                <aside class="widget widget-text">
                                    <div class="widget-title">
                                        <h6>About</h6>
                                    </div>
                                    <div class="textwidget">
                                        <p>Map where your photos were taken and discover local points of interest. Map where your photos.</p>
 
                                        <ul class="flag-icons">
                                            <li></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-2">
                                <!-- Recent entries widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Product</h6>
                                    </div>
                                    <ul>
                                        <li><a href="/features">Features</a></li>
                                        <li><a href="/security">Security</a></li>
                                        <li><a href="/integrations">Integrations</a></li>
                                        <li><a href="/pricing">Pricing &amp; Plans</a></li>        
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-2">
                                <!-- Twitter widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Features</h6>
                                    </div>
                                    <ul>
                                        <li><a href="/features">Features</a></li>
                                        <li><a href="/security">Security</a></li>
                                        <li><a href="/integrations">Integrations</a></li>
                                        <li><a href="/pricing">Pricing</a></li>
                                    </ul>
                                </aside>
                            </div>
                         <div class="col-md-2">
                                <!-- Company-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Company</h6>
                                    </div>
                                    <ul>
                                        <li><a href="/about">About</a></li>                                       
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="//blog.elektropay.com">El Blog</a></li>
                                        <li><a href="/careers">Careers</a></li>
                                    </ul>
                                </aside>
                            </div>  
                           <div class="col-md-2">
                                <!-- Resources widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Resources</h6>
                                    </div>
                                    <ul>
                                       <li><a href="//api.elektropay.com">API</a></li> 
                                       <li><a href="//docs.elektropay.com">Docs</a></li>
                                        <li><a href="//dev.elektropay.com">Developers</a></li>
                                        <li><a href="//support.elektropay.com">Help &amp; Support</a></li>
                                        
                                    </ul>
                                </aside>
                            </div>         
                           
                        </div>
                    </div>
                </div>
                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">    
                               <div class="copyright text-left">
                                     <ul class="legals">
                                        <li><a href="/terms">Terms</a></li>
                                        <li><a href="/privacy">Privacy</a></li>
                                        <li><a href="/security">Security</a></li>
                                        <li><a href="//status.elektropay.com">Status</a></li>        
                             </ul> 
                                </div>
                                
                            </div>
                           <div class="col-md-4">
                          <ul class="social-icons">
                                            <li><a href="/"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a href="/"><i class="fab fa-slack"></i></a></li>
                                            <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="/"><i class="fab fa-github"></i></a></li>
                                      <li> <img="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,h_23/v1444311765/pci-dss_ba9rpw.png"></li>
                                        </ul>
                            </div> 
                            <div class="col-md-4">
                            <div class="copyright text-left">
                                    <p>© 2019 Elektropay.com - All Rights Reserved. </p>
                                </div>
                            </div> 
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end-->
        

        <!-- To top button--><a class="scroll-top" href="{{ "/#top" | relative_url }}"><i class="fas fa-angle-up"></i></a>

  <!-- <small>This project is maintained by <a href="https://www.danurbanowicz.com" rel="noopener">Dan Urbanowicz</a>. View the repo on <a href="https://github.com/danurbanowicz/jekyll-netlify-boilerplate" rel="noopener">Github</a></small>-->



