    
        <script src="https://static.elektropay.com/assets/js/jquery.min.js"></script>
        <script src="https://static.elektropay.com/assets/js/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
        <script src="https://static.elektropay.com/assets/js/plugins.min.js"></script>

  <script src="https://static.elektropay.com/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="https://static.elektropay.com/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
  <script src="https://static.elektropay.com/assets/vendor/typed.js/lib/typed.min.js"></script>
  <script src="https://static.elektropay.com/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="https://static.elektropay.com/assets/js/components/hs.validation.js"></script>

  <script src="https://static.elektropay.com/assets/js/hs.core.js"></script>
  <script src="https://static.elektropay.com/assets/js/components/hs.header.js"></script>
  <script src="https://static.elektropay.com/assets/js/components/hs.svg-injector.js"></script>
  <script src="https://static.elektropay.com/assets/js/components/hs.fancybox.js"></script>
  <script src="https://static.elektropay.com/assets/js/components/hs.slick-carousel.js"></script>
  <script src="https://static.elektropay.com/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="https://static.elektropay.com/assets/vendor/slick-carousel/slick/slick.js"></script>


        <script src="https://static.elektropay.com/assets/js/site.min.js"></script>
        <script data-prerender="keep" async="" src="https://use.fortawesome.com/349cfdf6.js"></script>
<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/349cfdf6/publications/92668/woff2.css" media="all">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>

<script>
        $(document).ready(function(){
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
       });
    </script>


<script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });

      // initialization of svg injector module
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of text animation (typing)
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["ideal", "fastest", "convenient"],
        typeSpeed: 60,
        loop: true,
        backSpeed: 25,
        backDelay: 1500
      });

      // initialization of fancybox
      $.HSCore.components.HSFancyBox.init('.js-fancybox');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>

  <script>
      // initialization of text animation (typing)
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["ideal", "fastest", "convenient"],
        typeSpeed: 60,
        loop: true,
        backSpeed: 25,
        backDelay: 1500
      });

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });
    });
  </script>
  <script src="https://static.elektropay.com/assets/js/auth.js"></script>

  <script>
    renderButtonState();
    $(document).ready(function () {
      // show access token if user is logged in
      if (Cookies.get('accessToken', { domain: cookieDomain })) {
        $("#infoDiv").show();
        $("#accessTokenDiv").text(Cookies.get('accessToken', { domain: cookieDomain }));
      }
    });
  </script>
