    
        <script src="https://static.elektropay.com/assets/js/jquery.min.js"></script>
        <script src="https://static.elektropay.com/assets/js/popper.min.js"></script>
        <script src="https://static.elektropay.com/assets/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
        <script src="https://static.elektropay.com/assets/js/plugins.min.js"></script>
        <script src="https://static.elektropay.com/assets/js/site.min.js"></script>
        <script data-prerender="keep" async="" src="https://use.fortawesome.com/349cfdf6.js"></script>
        <link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/349cfdf6/publications/92668/woff2.css" media="all">
