<footer class="bg-transparent position-md-absolute right-md-0 bottom-md-0 left-md-0">
 
  <div class="footer-bar bg-transparent position-md-absolute right-md-0 bottom-md-0 left-md-0"> 
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="copyright text-white-70">
            <ul class="legals small list-inline mb-0">
              <li class="list-inline-item"><a href="/terms">Terms</a></li>
              <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
              <li class="list-inline-item"><a href="/security">Security</a></li>
              <li class="list-inline-item"><a href="//status.elektropay.com" target="_blank">Status</a> <span class="color-dot none"></span><span class="color-description"><small>Operational</small></span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="creditcard-icons list-inline mb-0 text-white-70">
          <li class="list-inline-item"><a class="text-muted" href="#"><i class="fab fa-cc-discover"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-cc-jcb"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-cc-amex"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-cc-stripe"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-cc-apple-pay"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-cc-amazon-pay"></i></a></li>
          <li class="list-inline-item"><a href="#"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,h_20/v1444311765/pci-dss_ba9rpw.png"></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 text-sm-left">
          <div class="copyright text-center small text-white-70 mb-0"><p>&copy; {{ site.time | date: '%Y' }} Elektropay - All Rights Reserved.</p></div>
        </div>
      </div>
    </div>
  </div>
</footer>

        
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  
<script src="https://static.elektropay.com/assets/js/jquery.min.js"></script> 
<script src="https://static.elektropay.com/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script> 
<script src="https://static.elektropay.com/assets/js/popper.min.js"></script> 
<script src="https://static.elektropay.com/assets/vendor/bootstrap/bootstrap.min.js"></script> 
<script src="https://static.elektropay.com/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script> 
<script src="https://static.elektropay.com/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
<script src="https://static.elektropay.com/assets/js/site.min.js"></script> 
 
 <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });
   $(document).on('ready', function () {
   
    $.HSCore.components.HSHeader.init($('#header'));
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["payments", "payments", "money", "wallet"],
        typeSpeed: 60,
        loop: true,
        backSpeed: 25,
        backDelay: 2000
      });
      $.HSCore.components.HSFancyBox.init('.js-fancybox');
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>      
      
<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/349cfdf6/publications/92668/woff2.css" media="all"> 
<script src="/assets/js/main.min.js"></script>
</body>
</html>
