
            <footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Text widget-->
                                <aside class="widget widget-text">
                                    <div class="widget-title" style="margin-bottom: 12px;">
                                        <div><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,e_grayscale,o_83,w_156/v1442882924/logo_qxdkvh.png"></div>
                                    </div>
                                    <div class="textwidget">
                                        <p>Elektropay is a Open Payments Platform that enables customers to manage payments, transfer money, connect thier personal, business and payment accounts – all in one app.</p>
 
                                        <ul class="flag-icons">
                                            <li></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-2">
                                <!-- Recent entries widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Personal</h6>
                                    </div>
                                    <ul>
                                        <li><a href="{{ "consumers/platform" | relative_url }}">Platform</a></li>
                                        <li><a href="{{ "consumers/billy-wallet" | relative_url }}">Wallet</a></li>
                                        <li><a href="{{ "consumers/marketplace" | relative_url }}">Marketplace</a></li>
                                        <li><a href="{{ "consumers/pricing" | relative_url }}">Fees &amp; Pricing</a></li>        
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-2">
                                <!-- Twitter widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Business</h6>
                                    </div>
                                    <ul>
                                        <li><a href="{{ "business/payment-methods" | relative_url }}">Payment Methods</a></li>
                                        <li><a href="{{ "business/f2f-payments" | relative_url }}">Retail Payments</a></li>
                                        <li><a href="{{ "business/data-security" | relative_url }}">Data Security</a></li>
                                        <li><a href="{{ "business/analytics" | relative_url }}">Reporting</a></li>
                                    </ul>
                                </aside>
                            </div>
                         <div class="col-md-2">
                                <!-- Company-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Company</h6>
                                    </div>
                                    <ul>
                                        <li><a href="{{ "about" | relative_url }}">About</a></li>                                       
                                        <li><a href="{{ "contact" | relative_url }}">Contact</a></li>
                                        <li><a href="//blog.elektropay.com">ElektroLog</a></li>
                                        <li><a href="{{ "careers" | relative_url }}">Careers</a></li>
                                    </ul>
                                </aside>
                            </div>  
                           <div class="col-md-2">
                                <!-- Resources widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Resources</h6>
                                    </div>
                                    <ul>
                                      <li><a href="//support.elektropay.com">Help &amp; Support</a></li>          
                                       <li><a href="//sandbox.elektropay.com">Sandbox API</a></li> 
                                       <li><a href="//docs.elektropay.com">Documentation</a></li>
                                        <li><a href="//developers.elektropay.com">Developer Portal</a></li>
                                        
                                    </ul>
                                </aside>
                            </div>         
                           
                        </div>
                    </div>
                </div>
                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">    
                               <div class="copyright text-left">
                                     <ul class="legals">
                                        <li><a href="{{ "terms" | relative_url }}">Terms</a></li>
                                        <li><a href="{{ "privacy" | relative_url }}">Privacy</a></li>
                                        <li><a href="{{ "security" | relative_url }}">Security</a></li>
                                        <li><a href="//status.elektropay.com">Status</a></li>        
                             </ul> 
                                </div>
                                
                            </div>
                           <div class="col-md-4">
                          <ul class="creditcard-icons">
                                           <li><a href="#"><i class="fab fa-cc-discover"></i></a></li>
                                            <li><a href="#"><i class="fab fa-cc-jcb"></i></a></li>
                                            <li><a href="#"><i class="fab fa-cc-amex"></i></a></li>
                                            <li><a href="#"><i class="fab fa-cc-stripe"></i></a></li>
                                            <li><a href="#"><i class="fab fa-cc-apple-pay"></i></a></li>
                                            <li><a href="#"><i class="fab fa-cc-amazon-pay"></i></a></li>
                                            <li><a href="#"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,h_20/v1444311765/pci-dss_ba9rpw.png"></a></li> 
                                        </ul>
                            </div> 
                            <div class="col-md-4">
                            <div class="copyright text-left text-muted">
                                    <p>&copy; Elektropay 2019. All Rights Reserved. </p>
                                </div>
                            </div> 
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end-->
        

        <!-- To top button--><a class="scroll-top" href="{{ "/#top" | relative_url }}"><i class="fas fa-angle-up"></i></a>

  <!-- <small>This project is maintained by <a href="https://www.danurbanowicz.com" rel="noopener">Dan Urbanowicz</a>. View the repo on <a href="https://github.com/danurbanowicz/jekyll-netlify-boilerplate" rel="noopener">Github</a></small>-->



