<div class="container space-2 space-lg-3">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium">Lightning-fast development with pre-built solutions</h2>
            <p>Every team has a unique process for shipping software. Use an out-of-the-box workflow, or create one to match the way your team works.</p>
          </div>

          <!-- Info -->
          <ul class="list-unstyled">
            <li class="media align-items-center pb-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Extensive API documentation</p>
              </div>
            </li>
            <li class="media align-items-center py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Customizable &amp; open source</p>
              </div>
            </li>
            <li class="media align-items-center pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Continiously improved</p>
              </div>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- Card Block -->
          <div id="featuresSVG1" class="pr-lg-4" style="">
            <div class="card border-0 bg-soft-primary text-indigo text-center w-lg-75 overflow-hidden pt-9 px-5 mx-lg-auto">
              <div class="px-5 mb-5">
                <h3 class="h6">Choose your lifeflow, or make your own with Commerce</h3>
              </div>

              <!-- SVG Phone Mockup -->
              <div class="w-85 u-devices-v2__phone-svg shadow-sm mx-auto">
                <figure class="ie-half-iphone-x-1-iphone">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.4 494" style="enable-background:new 0 0 443.4 494;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
                         {"targetId": "#SVGhalfIphoneX1Img1", "newPath": "/assets/img/407x472/img1.jpg"}
                       ]" data-parent="#featuresSVG1">
<style type="text/css">
	.half-iphone-x-1-0{fill:#FFFFFF;}
	.half-iphone-x-1-1{fill:none;stroke:#F7F7F7;}
	.half-iphone-x-1-2{fill:none;stroke:#E7EAF3;}
	.half-iphone-x-1-3{fill:none;}
</style>
<path class="half-iphone-x-1-0" d="M443.4,494V65.1c0-36-29.2-65.1-65.1-65.1H65.1C29.1,0,0,29.1,0,65.1V494"></path>
<path class="half-iphone-x-1-1" stroke-width="4" stroke-miterlimit="10" d="M242.8,36.8h-46.4c-2,0-3.6-1.6-3.6-3.6l0,0c0-2,1.6-3.6,3.6-3.6h46.4c2,0,3.6,1.6,3.6,3.6l0,0  C246.4,35.2,244.8,36.8,242.8,36.8z"></path>
<circle class="half-iphone-x-1-1" stroke-width="4" stroke-miterlimit="10" cx="269.5" cy="33.2" r="5.5"></circle>
<g>
	<defs>
		<path id="halfIphoneX1ID2" d="M18.6,494V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0c0,14.9,11.6,27,26,27h171.5    c14.4,0.1,26-12,26-27l0,0c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7V494"></path>
	</defs>
	<clipPath id="halfIphoneX1ID1">
		<use xlink:href="#halfIphoneX1ID2" style="overflow:visible;"></use>
	</clipPath>
	<g style="clip-path:url(#halfIphoneX1ID1);">
		<image id="SVGhalfIphoneX1Img1" style="overflow:visible;" width="407" height="472" xlink:href="/assets/img/407x472/img1.jpg" transform="matrix(1 0 0 1 18.2 22.45)"></image>
	</g>
</g>
<path class="half-iphone-x-1-2" stroke-miterlimit="10" d="M18.6,494V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0c0,14.9,11.6,27,26,27h171.5  c14.4,0.1,26-12,26-27l0,0c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7V494"></path>
<rect class="half-iphone-x-1-3" width="443.4" height="494"></rect>
</svg>
                </figure>
              </div>
              <!-- End SVG Phone Mockup -->
            </div>
          </div>
          <!-- End Card Block -->
        </div>
      </div>
    </div>
