<div class="bg-light">
      <div class="container space-2 space-md-3">
   
        <div class="w-md-60 w-lg-75 text-center mx-auto mb-9">
          <h2 class="h2 font-weight-normal">
            <span class="">How does it work? </span>
          </h2>
   <p class="lead mb-5">Streamline your commerce, manage your accounts, save on money transfer and payment processing fees.</p>
        </div>
	      
        <div class="w-lg-85 mx-lg-auto mt-2">
          <div class="card-deck d-block d-md-flex card-md-gutters-3">
            <!-- Card -->
            <article class="card text-center">
              <div class="card-body p-7">
                <!-- SVG Icon -->
                <div id="SVGforSale" class="w-75 mx-auto mb-6" style="">
                  <figure class="ie-for-sale">
  <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265742/svg/icons/icon-white-58.svg" alt="consumer" data-parent="#iconWhite58">
 
                  </figure>
                </div>
                <!-- End SVG Icon -->

                <h3 class="h4 mb-3">I'm a Consumer</h3>
                <p class="mb-4">Discover how much property sold for with our comprehensive house price data.</p>
                <a class="btn btn-sm btn-pill btn-soft-secondary transition-3d-hover" href="/consumer/">
                  Compare Benefits
                  <span class="fas fa-angle-right ml-2"></span>
                </a>
              </div>
            </article>
            <!-- End Card -->

            <!-- Card -->
            <article class="card text-center">
              <div class="card-body p-7">
                <!-- SVG Icon -->
                <div id="SVGbuyer" class="w-75 mx-auto mb-6" style="">
                  <figure class="ie-buyer">
                    <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265709/svg/icons/icon-34.svg" alt="consumer" data-parent="#iconWhite58">
                  </figure>
                </div>
                <!-- End SVG Icon -->

                <h3 class="h4 mb-3">I'm a Merchant</h3>
                <p class="mb-4">Ensure you find the right home, near the right school with new School Checker tool.</p>
                <a class="btn btn-sm btn-pill btn-soft-primary transition-3d-hover" href="/business/">
                  Explore Features
                  <span class="fas fa-angle-right ml-2"></span>
                </a>
              </div>
            </article>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
