<div class="container space-2 space-lg-3">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium">One easy, efficient, powerful Commerce platform</h2>
            <p>Every business has a unique process for conducting commerce. Use an out-of-the-box workflow, or create one to match the way your business works.</p>
          </div>

          <!-- Info -->
          <ul class="list-unstyled">
            <li class="media align-items-center pb-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Accept payments in over 50 currencies.</p>
              </div>
            </li>
            <li class="media align-items-center py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Customizable Integrated payments &amp; scalability </p>
              </div>
            </li>
            <li class="media align-items-center pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">EMV Compliant &amp; device agnostic </p>
              </div>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- Card Block -->
          <div id="featuresSVG1" class="pr-lg-4" style="">
            <div class="card border-0 bg-soft-primary text-indigo text-center w-lg-75 overflow-hidden pt-9 px-5 mx-lg-auto">
              <div class="px-5 mb-5">
                <h3 class="h6">Choose your workflow, or create your own way to conduct commerce</h3>
              </div>

              <!-- SVG Phone Mockup -->
              <div class="w-85 u-devices-v2__phone-svg shadow-sm mx-auto">
                <figure class="ie-half-iphone-x-1-iphone">
                  <img class="js-svg-injector" src="/assets/svg/components/half-iphone-x-1.svg" alt=""
                       data-img-paths='[
                         {"targetId": "#SVGhalfIphoneX1Img1", "newPath": "/assets/img/407x472/img1.jpg"}
                       ]'
                       data-parent="#featuresSVG1">
                </figure>
              </div>
              <!-- End SVG Phone Mockup -->
            </div>
          </div>
          <!-- End Card Block -->
        </div>
      </div>
    </div>
