<div class="container space-2 space-lg-3">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium">One easy, efficient, powerful commerce platform</h2>
            <p>Every business has a unique process for conducting commerce. Use an out-of-the-box workflow, or create one to match the way your business works.</p>
          </div>

          <!-- Info -->
          <ul class="list-unstyled">
            <li class="media align-items-center pb-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Accept payments in over 50 currencies.</p>
              </div>
            </li>
         <li class="media align-items-center py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">EMV Compliant &amp; device agnostic </p>
              </div>
            </li>
            <li class="media align-items-center py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Customizable Integrated payments &amp; scalability </p>
              </div>
            </li>
          <li class="media align-items-center py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">EMV Compliant &amp; device agnostic </p>
              </div>
            </li>
            <li class="media align-items-center pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">EMV Compliant &amp; device agnostic </p>
              </div>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 order-lg-1">
          <!-- Card Block -->
          <div id="featuresSVG1" class="pr-lg-4" style="">
            <div class="card border-0 bg-soft-primary text-indigo text-center w-lg-75 overflow-hidden pt-9 px-5 mx-lg-auto">
              <div class="px-5 mb-5">
                <h3 class="h6">Choose your workflow, or create your own way to conduct commerce</h3>
              </div>

              <!-- SVG Phone Mockup -->
              <div class="w-85 u-devices-v2__phone-svg shadow-sm mx-auto">
                <figure class="ie-half-iphone-x-1-iphone">
                  <img class="js-svg-injector" src="/assets/svg/components/half-iphone-x-1.svg" alt=""
                       data-img-paths='[
                         {"targetId": "#SVGhalfIphoneX1Img1", "newPath": "/assets/img/mobile_scrn.jpg"}
                       ]'
                       data-parent="#featuresSVG1">
                </figure>
              </div>
              <!-- End SVG Phone Mockup -->
            </div>
          </div>
          <!-- End Card Block -->
        </div>
      </div>
    </div>

<div class="container">
      <div class="w-lg-85 mx-lg-auto">
        <div id="SVGCTA" class="border-0 shadow overflow-hidden p-5">
          <div class="row justify-content-md-start align-items-md-center text-center text-md-left">
            <div class="col-md-8 col-lg-5 offset-lg-3 mb-3 mb-md-0">
              <h3 class="h4 text-indigo font-weight-medium mb-0">Revolutionizing the way you do commerce!</h3>
            </div>

            <div class="col-md-4 text-md-right">
              <a class="btn btn-indigo btn-pill transition-3d-hover" href="/signup">Get Started</a>
            </div>
          </div>

          <figure class="ie-half-circle-2-2 w-35 position-absolute top-0 left-0 mt-n11 ml-n11">
            <img class="js-svg-injector" src="/assets/svg/components/half-circle-2.svg" alt=""
                 data-parent="#SVGCTA">
          </figure>
          <hr>
        </div>
      </div>
    </div>

<div class="container space-lg-3">
     <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium">The cheap, fast way to send money and take payemnts.</h2>
            <p>Elektropay is a unique platform that combines everyday commerce and payments easily and without any friction.</p>
          </div>

          <!-- Info -->
          <ul class="list-unstyled">
            <li class="media pb-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-4">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Product management</p>
              </div>
            </li> 
            <li class="media pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-4">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Continuous integration</p>
              </div>
            </li>
            <li class="media py-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-4">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Payment workflow</p>
              </div>
            </li>
            <li class="media pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-4">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Continuous integration</p>
              </div>
            </li>
            <li class="media pt-3">
              <span class="btn btn-icon btn-sm btn-soft-indigo rounded-circle mr-4">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p class="text-dark mb-0">Continuous integration</p>
              </div>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7">
          <!-- Card Block -->
          <div id="featuresSVG2" class="pl-lg-4">
            <div class="card border-0 bg-soft-primary text-indigo text-center w-lg-75 overflow-hidden pt-9 px-5 mx-lg-auto">
              <div class="px-5 mb-5">
                <h3 class="h6">Integrate with the tools and apps that you already use.</h3>
              </div>

              <!-- SVG Phone Mockup -->
              <div class="w-85 u-devices-v2__phone-svg shadow-sm mx-auto">
                <figure class="ie-half-iphone-x-1-iphone">
                  <img class="js-svg-injector" src="/assets/svg/components/half-iphone-x-1.svg" alt=""
                       data-img-paths='[
                         {"targetId": "#SVGhalfIphoneX1Img1", "newPath": "/assets/img/mapbox.jpg"}
                       ]'
                       data-parent="#featuresSVG2">
                </figure>
              </div>
              <!-- End SVG Phone Mockup -->
            </div>
          </div>
          <!-- End Card Block -->
        </div>
      </div>
        
    </div>



    <!-- Icons Section -->
    <div class="position-relative gradient-overlay-half-primary-v3 overflow-hidden">
      <div class="container space-top-2 space-top-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <h2 class="text-white font-weight-medium">Elektropay with ease.</h2>
          <p class="text-white-70">Whether you’re a seasoned agile expert, or just getting started, Jira Software unlocks the power of agile.</p>
        </div>
        <!-- End Title -->

        <!-- Icon Blocks -->
        <div class="w-lg-80 mx-lg-auto mb-11">
          <div class="row mb-9">
            <div class="col-6 col-md-4 mb-7">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-align-center"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Flexible planning</h4>
              <p class="text-white-70">Front Software's rich planning features enable your team to flexibly plan.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-6 col-md-4 mb-7">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-code-branch"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Accurate estimations</h4>
              <p class="text-white-70">Use story points, hours, t-shirt sizes, or your own estimation technique.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-6 col-md-4 mb-7 mb-md-0">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-shapes"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Value-driven prioritization</h4>
              <p class="text-white-70">Order user stories, issues, and bugs in your product backlog with simple dragging.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-6 col-md-4 mb-7 mb-md-0">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-clone"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Transparent execution</h4>
              <p class="text-white-70">Front Software brings a new level of transparency to your team's work.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-6 col-md-4">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-check-circle"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Actionable results</h4>
              <p class="text-white-70">Extensive reporting functionality gives your team critical insight into their agile process.</p>
              <!-- End Icon Block -->
            </div>

            <div class="col-6 col-md-4">
              <!-- Icon Block -->
              <span class="d-block text-white font-size-2 mb-3">
                <span class="fas fa-compress"></span>
              </span>
              <h4 class="h6 text-white font-weight-semi-bold mb-3">Scalable evolution <span class="badge badge-warning font-weight-medium badge-pill ml-1">Coming soon</span></h4>
              <p class="text-white-70">Elektropay is a commerce management platform designed for any business type.</p>
              <!-- End Icon Block -->
            </div>
          </div>

          <!-- Buttons -->
          <div class="text-center">
            <div class="mb-3">
              <a class="btn btn-sm btn-white btn-wide btn-pill text-primary transition-3d-hover" href="/signup/">Sign up and Start saving</a>
              <small class="d-block d-sm-inline-block text-white-70 my-3 my-sm-0 mx-sm-3">or</small>
              <a class="btn btn-sm btn-indigo btn-wide btn-pill transition-3d-hover" href="#">Talk to our Experts</a>
            </div>
            <p class="small text-white-70">Start free trial. * No credit card required.</p>
          </div>
          <!-- End Buttons -->
        </div>
        <!-- End Icon Blocks -->

        <div class="w-85 w-md-75 w-lg-65 text-center mx-auto">
          <img class="img-fluid" src="../../assets/svg/illustrations/ai-creation.svg" alt="">
        </div>
      </div>

      <!-- SVG Background Shape -->
      <figure class="w-35 position-absolute top-0 right-0 z-index-n1">
        <div class="mt-n11 mr-n11">
          <img class="js-svg-injector" src="/assets/svg/components/half-circle-3.svg" alt=""
               data-parent="#SVGHero">
        </div>
      </figure>
      <figure class="w-25 position-absolute bottom-0 left-0 z-index-n1">
        <div class="mb-n11 ml-n11">
          <img class="js-svg-injector" src="/assets/svg/components/half-circle-2.svg" alt=""
               data-parent="#SVGHero">
        </div>
      </figure>
      <!-- End SVG Background Shape -->
    </div>
    <!-- End Icons Section -->
