<header class="header header-transparent">
            <div class="container-fluid">
                <!-- Brand-->
                <div class="inner-header"><a class="inner-brand" href="{{ "/" | relative_url }}"></a></div>
                <!-- Navigation-->
                <div class="inner-navigation collapse">
                    <div class="inner-nav"> 
    {% include navigation.html navigation=site.data.navigation %} 
                    </div>
                </div>
                <div class="extra-nav">
               <ul>
             
           <li><a class="top-bar-login" href="{{ "login" | relative_url }}" id="signOnButton"><span class="menu-item-span"><small class="btn btn-sm btn-sm-wide btn-indigo btn-pill transition-3d-hover"> Sign In </small></span></a></li>               
   
           <li><a class="top-bar-account" href="{{ "signup" | relative_url }}" id="signUpButton"><span class="menu-item-span"><span class="btn btn-sm btn-sm-wide btn-white btn-pill text-primary transition-3d-hover"> Get Started <i class="fas fa-sign-in-alt fa-w-16 fa-fw fa-sm"></i></span></span></a></li>                                                  
         
               </ul>
                </div>
            </div>
        </header>
