<header class="header header-transparent">
            <div class="container-fluid">
                <!-- Brand-->
                <div class="inner-header"><a class="inner-brand" href="{{ "/" | relative_url }}"></a></div>
                <!-- Navigation-->
                <div class="inner-navigation collapse">
                    <div class="inner-nav"> 
    {% include navigation.html navigation=site.data.navigation %} 
                    </div>
                </div>
                <div class="extra-nav">
               <ul>
            <li><a class="top-bar-login" href="{{ "/" | relative_url }}"><span class="menu-item-span"><span> Sign In </span></span></a></li>               
   
           <li><a class="top-bar-account" href="{{ "/" | relative_url }}"><span class="menu-item-span"><span><i class="fas fa-sign-in-alt fa-w-16 fa-fw fa-sm"></i> Get Started </span></span></a></li>                                                  
           
               </ul>
                </div>
            </div>
        </header>
