<section class="module bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h2>Join Our Team</h2>
                            <p class="lead">Our team strives to help new members reach their unlimited potential every day.</p>
                          </div>
                          <div class="col-md-12 m-auto text-center">
                            <div class="cta-btn p-t-2">  
                            <a class="btn btn-circle btn-outline-brand" href="/careers">See Openings</a>                             </div> 
                          </div>
                        </div>  
                      </div>
                </div>
            </section>
