 <section class="module-cover parallax fullscreen text-center" data-background="https://static.elektropay.com/assets/img/module-2.jpg" data-jarallax-video="https://youtu.be/Liz0ejsRoL4" data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>A New Era Of <br>Simplified Commerce</strong></h1>
                            <p class="m-b-40">Your customers are looking for more convenient ways to <br>pay. We're here to make sure that happens.</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{{ "products" | relative_url }}">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </section>
