 <section class="module-cover text-center" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1443980398/hero-homepage-md_txwtlf.jpg" data-overlay="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-white">A Small Company <br>With A Public Vision</h1>
                            <p class="text-white">Innovative Commerce solutions tailored for all your business needs.</p>
                        </div>
                    </div>
                </div>
            </section>


