<!-- Title Section -->
    <div class="position-relative d-none">
      <div class="container space-2 space-top-md-5 space-bottom-md-3">
        <div class="w-md-80 w-lg-60">
          <h1 class="text-primary"><span class="font-weight-semi-bold">General</span> Data Protection Regulation</h1>
          <p>General Data Protection Regulation (GDPR) compliance and customer information page. Data Policy, security, privacy, data requests and additional GDPR support hub.</p>

        </div>
      </div>

      <!-- SVG Background Shapes -->
      <div id="SVGbgElements2" class="svg-preloader d-none d-lg-block w-lg-40 content-centered-y right-0 z-index-n1 ml-9">
        <figure class="ie-bg-elements-2">
          <img class="js-svg-injector" src="/assets/svg/components/bg-elements-2.svg" alt=""
               data-parent="#SVGbgElements2">
        </figure>
      </div>
      <!-- End SVG Background Shapes -->
    </div>
    <!-- End Terms Title Section -->
