<!-- Hero Section -->
    <div class="position-relative gradient-half-primary-v1 position-absolute top-0 left-0 min-height-600 height-lg-100vh">
      <div class="container">
        <div class="row justify-content-lg-between height-lg-100vh">
          <!-- Left Content -->
          <div class="col-lg-5 d-flex align-items-center align-self-lg-center min-height-600 min-height-lg-auto">
            <!-- Content -->
            <div class="position-relative z-index-2">
              <div class="mb-7">
                <span class="d-none d-sm-block btn btn-lg btn-icon btn-white text-primary rounded-circle mb-4">
                  <span class="fas fa-credit-card btn-icon__inner"></span>
                </span>
                <h1 class="display-4 font-size-md-down-5 text-white font-weight-semi-bold">Bitcoin <span class="text-warning">wallet</span></h1>
                <p class="text-white-70">Simple, secure, industry-standard and elite product step-by-step explanation in three key categories, based on over 100 million users globally.</p>
              </div>

              <a class="btn btn-warning transition-3d-hover" href="/login/">
                Get a Free Wallet
                <span class="fas fa-arrow-right small ml-2"></span>
              </a>
            </div>
            <!-- End Content -->
          </div>
          <!-- End Left Content -->

          <!-- Right Content -->
          <div class="col-lg-5 align-self-center space-2 space-md-3 space-lg-0">
            <!-- Hero Carousel -->
            <div class="js-slick-carousel"
                 data-fade="true"
                 data-pagi-classes="text-center u-slick__pagination mt-7 mb-0">
              <div class="js-slide px-4">
                <div id="SVGvault" class="svg-preloader">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <span class="btn btn-icon btn-soft-primary rounded-circle mb-4">
                      <span class="small font-weight-semi-bold btn-icon__inner">01.</span>
                    </span>
                    <h2 class="h4 text-primary">Learn about Bitcoin</h2>
                    <p>Bitcoin is changing the way people think about money. Educate yourself about this ground-breaking payment system.</p>
                  </div>
                  <!-- End Title -->

                  <!-- SVG Icon -->
                  <figure class="ie-vault">
                    <img class="js-svg-injector" src="/assets/svg/flat-icons/vault.svg" alt=""
                         data-parent="#SVGvault">
                  </figure>
                  <!-- End SVG Icon -->
                </div>
              </div>

              <div class="js-slide px-4">
                <div id="SVGresponsive" class="svg-preloader">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <span class="btn btn-icon btn-soft-primary rounded-circle mb-4">
                      <span class="small font-weight-semi-bold btn-icon__inner">02.</span>
                    </span>
                    <h2 class="h4 text-primary">Download a Wallet</h2>
                    <p>Bitcoin is received, stored, and sent using software known as a 'Bitcoin Wallet'. Download the official Bitcoin.com Wallet for free.</p>
                  </div>
                  <!-- End Title -->

                  <!-- SVG Icon -->
                  <figure class="ie-responsive">
                    <img class="js-svg-injector" src="/assets/svg/flat-icons/responsive.svg" alt=""
                         data-parent="#SVGresponsive">
                  </figure>
                  <!-- End SVG Icon -->
                </div>
              </div>

              <div class="js-slide px-4">
                <div id="SVGeasyPayment" class="svg-preloader">
                  <!-- Title -->
                  <div class="text-center mb-7">
                    <span class="btn btn-icon btn-soft-primary rounded-circle mb-4">
                      <span class="small font-weight-semi-bold btn-icon__inner">03.</span>
                    </span>
                    <h2 class="h4 text-primary">Use Bitcoin</h2>
                    <p>Bitcoin makes it easy to send real money quickly to anywhere in the world! Bitcoin can also be used to make purchases from a variety of online retailers.</p>
                  </div>
                  <!-- End Title -->

                  <!-- SVG Icon -->
                  <figure class="ie-easy-payment">
                    <img class="js-svg-injector" src="/assets/svg/flat-icons/easy-payment.svg" alt=""
                         data-parent="#SVGeasyPayment">
                  </figure>
                  <!-- End SVG Icon -->
                </div>
              </div>
            </div>
            <!-- End Hero Carousel -->
          </div>
          <!-- End Right Content -->
        </div>
      </div>

      <!-- Go to Arrow -->
      <div class="d-none d-lg-block position-absolute right-0 bottom-0 left-0 text-center mb-5">
        <a class="js-go-to u-go-to-modern" href="javascript:;"
           data-target="#graphicsSection"
           data-type="static">
          <span class="fas fa-arrow-down u-go-to-modern__inner"></span>
        </a>
      </div>
      <!-- End Go to Arrow -->

    </div>
    <!-- End Hero Section -->

    <hr class="my-0">
