   <section class="module-cover parallax text-center" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1525832076/woman-smiling-at-desk-while-working_gn0di7.jpg"  data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Contact Us</h2>
                            <p>We provide a variety of ways to contact our Customer Success team.</p>
                        </div>
                    </div>
                </div>
            </section>
