 <section class="module-cover parallax fullscreen text-center" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1508308251/payment-terminal_ffzrvq.jpg" data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Reliable Solutions For<br>Accepting Payments</strong></h1>
                            <p class="m-b-40">Everything you need to sell online, face to face or on the go via mobile to customers worldwide. </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{{ "https://account.elektropay.com/signup" | relative_url }}">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </section>
