<section class="module-cover parallax text-center" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1443806899/bg-aside_gebmbo.jpg"  data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Pricing Packages</h2>
                            <p>Experienced and Friendly.</p>
                        </div>
                    </div>
                </div>
            </section>
