 <section class="module-cover parallax fullscreen text-center" data-background="https://static.elektropay.com/assets/img/module-2.jpg" data-jarallax-video="https://youtu.be/Liz0ejsRoL4" data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Discover A New Way Of <br>Simplified Commerce</strong></h1>
                            <p class="m-b-40">A Scalable, flexible, secure commerce platform that simplifies payments, recovers lost revenue, <br>streamlines processes and delivers real-time analytics. </p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{{ "features" | relative_url }}">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </section>
