<div id="SVGHero" class="position-relative bg-white overflow-hidden"> 
<div class="container z-index-2 space-2 space-top-md-5 space-bottom-md-3 space-top-lg-4">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-4">
          <!-- Title -->
          <div class="mb-3">
  {%- if page.description -%}<h1 class="display-4 text-white-70 font-size-md-down-5 mb-0">{{ page.description }}</h1>{%- endif -%}
            <h2 class="text-primary display-3 font-size-md-down-5 font-weight-semi-bold">Easy setup</h2>
          </div>
          <p>Get the real exchange rate with Elektropay. Real-time, E-wallet, Cards, Mass payouts, Recieving payments.</p>
          <!-- End Title -->
        </div>

        <div class="col-lg-6 mb-4">
          <!-- SVG Icon -->
          <div id="SVGeasyStart" class="svg-preloader d-none d-lg-block">
            <figure class="ie-subscribe-2">
              <img class="js-svg-injector" src="/assets/svg/flat-icons/easy-start.svg" alt=""
                   data-parent="#SVGeasyStart">
            </figure>
          </div>
          <!-- End SVG Icon -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <h3 class="h6">Join for free now!</h3>

          <!-- Form -->
          <form class="js-validate">
            <div class="form-row">
              <div class="col-6 col-sm-4 mb-2">
                <div class="js-form-message">
                  <label class="sr-only" for="signupSrName">Your name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="name" id="signupSrName" placeholder="Your name" aria-label="Your name" required
                           data-msg="Name must contain only letters."
                           data-error-class="u-has-error"
                           data-success-class="u-has-success">
                  </div>
                </div>
              </div>

              <div class="col-6 col-sm-4 mb-2">
                <div class="js-form-message">
                  <label class="sr-only" for="signupSrEmail">Your email</label>
                  <div class="input-group">
                    <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email" required
                           data-msg="Please enter a valid email address."
                           data-error-class="u-has-error"
                           data-success-class="u-has-success">
                  </div>
                </div>
              </div>

              <div class="col-sm-4 mb-2">
                <button type="submit" class="btn btn-primary btn-wide transition-3d-hover">Get Started</button>
              </div>
            </div>

            <!-- Checkbox -->
            <div class="js-form-message">
              <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required
                       data-msg="Please accept our Terms and Conditions.">
                <label class="custom-control-label" for="termsCheckbox">
                  <small>
                    I agree to the
                    <a class="link-muted" href="/legal/terms/">Terms and Conditions</a>
                  </small>
                </label>
              </div>
            </div>
            <!-- End Checkbox -->
          </form>
          <!-- End Form -->
        </div>
      </div>
      <div class="gradient-overlay-half-primary-v3 svg-divider-polygon position-absolute top-0 right-0 bottom-0 left-0">
     <figure class="ie-circles-hero"> 
 <img class="js-svg-injector d-lg-block" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1562819678/svg/components/circles.svg" alt="" data-parent="#SVGHero">
  </figure>
  </div>
    </div>
</div>
    <!-- End Hero Section -->

    <hr class="my-0">
