<section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h1>Introducing Our Team</h1>
                            <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="60px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/1.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">Richard Rowe</h6>
                                            <div class="team-role">Founder</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/2.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">Richard Bauer</h6>
                                            <div class="team-role">Developer</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="about-1.html#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/3.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">John Pope</h6>
                                            <div class="team-role">Founder</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="about-1.html#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/4.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">Sara Smith</h6>
                                            <div class="team-role">Designer</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="about-1.html#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/5.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">Emma Connor</h6>
                                            <div class="team-role">Developer</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="about-1.html#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="team-image"><img src="https://static.elektropay.com/assets/img/team/6.jpg" alt="">
                                    <div class="team-wrap">
                                        <div class="team-content">
                                            <h6 class="team-name">Peter Chapman</h6>
                                            <div class="team-role">Founder</div>
                                        </div>
                                        <div class="team-content-social">
                                            <ul>
                                                <li><a href="about-1.html#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="about-1.html#"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="30px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center"><a class="btn btn-circle btn-outline-brand" href="{{ "contact" | relative_url }}"> Contact us</a></p>
                        </div>
                    </div>
                </div>
            </section>
