<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent-md u-header--white-nav-links-md u-header--abs-top-md u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- White Logo -->
<a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" href="/" aria-label="Elektropay">
         
          <span class="u-header__navbar-brand-text"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1442882924/logo_qxdkvh.png" width="135"></span>
        </a>
        <!-- End White Logo -->

        <!-- Default Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed" href="/" aria-label="Elektropay">
          <span class="u-header__navbar-brand-text">https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,e_grayscale,o_83,w_156/v1442882924/logo_qxdkvh.png" width="135"></span>
        </a>
        <!-- End Default Logo -->

        <!-- On Scroll Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-on-scroll" href="/" aria-label="Elektropay">

          <span class="u-header__navbar-brand-text"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1442882924/logo_qxdkvh.png" width="135"></span>
        </a>
        <!-- End On Scroll Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->


        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav align-items-md-center justify-content-center u-header__navbar-nav">
           
                  
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
             <a class="nav-link u-header__nav-link" href="/consumer/">Consumers</a>
          </li>
       <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/business/">Business</a>
            </li>
              <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/pricing/">Pricing</a>
            </li>
              <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/about/">Company</a>
            </li>
             <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/contact/">Contact</a>
            </li>
       <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/resources/">Resources</a>
            </li>
          </ul>
                
        <ul class="navbar-nav align-items-md-center justify-content-end u-header__navbar-nav">
         <li class="nav-item u-header__nav-item">
              <a id="" class="btn btn-sm btn-icon btn-text-secondary" href="javascript:;">
                <span class="fas fa-phone-circle pr-2 font-size-1"></span>
              </a>
            </li>
                
         <li class="nav-item u-header__nav-item u-header__nav-last-item">
              <a class="btn btn-sm btn-outline btn-pill transition-3d-hover" href="/login/">
              Login 
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-sign-in-alt fa-w-16 fa-fw fa-lg"><path fill="currentColor" d="M144 112v51.6H48c-26.5 0-48 21.5-48 48v88.6c0 26.5 21.5 48 48 48h96v51.6c0 42.6 51.7 64.2 81.9 33.9l144-143.9c18.7-18.7 18.7-49.1 0-67.9l-144-144C195.8 48 144 69.3 144 112zm192 144L192 400v-99.7H48v-88.6h144V112l144 144zm80 192h-84c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h84c26.5 0 48-21.5 48-48V160c0-26.5-21.5-48-48-48h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96z" class="pl-1"></path>
                      </svg>
              </a>
            </li>     
         
            <li class="nav-item u-header__nav-item u-header__nav-last-item">
              <a class="btn btn-sm btn-indigo btn-pill transition-3d-hover" href="/signup/">
               Get started
              </a>
            </li>
                
          </ul>
        </div>
     
      </nav>
    </div>
  </div>
</header>

<main id="content" role="main">
