<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent-md u-header--white-nav-links-md u-header--abs-top-md u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- White Logo -->
<a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" href="/" aria-label="Elektropay">
         
          <span class="u-header__navbar-brand-text">Elektropay</span>
        </a>
        <!-- End White Logo -->

        <!-- Default Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed" href="/" aria-label="Elektropay">
          <span class="u-header__navbar-brand-text">Elektropay</span>
        </a>
        <!-- End Default Logo -->

        <!-- On Scroll Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-on-scroll" href="/" aria-label="Elektropay">

          <span class="u-header__navbar-brand-text">Elektropay</span>
        </a>
        <!-- End On Scroll Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->


        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav align-items-md-center justify-content-center u-header__navbar-nav">
           
                  
            <li class="nav-item hs-has-mega-menu u-header__nav-item">
             <a class="nav-link u-header__nav-link" href="/consumer/">For Consumers</a>
          </li>
       <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/business/">For Business</a>
            </li>
              <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/pricing/">Pricing</a>
            </li>
              <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/about/">Company</a>
            </li>
             <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/contact/">Contact</a>
            </li>
       <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/resources/">Resources</a>
            </li>
          </ul>
                
        <ul class="navbar-nav align-items-md-center justify-content-end u-header__navbar-nav">
         
         <li class="nav-item u-header__nav-item">
              <a class="btn btn-sm btn-outline-white btn-pill transition-3d-hover" href="/login/" target="_blank">
               Login
              </a>
            </li>     
         
            <li class="nav-item u-header__nav-item u-header__nav-last-item">
              <a class="btn btn-sm btn-indigo btn-pill transition-3d-hover" href="/signup/" target="_blank">
               Get started
              </a>
            </li>
                
          </ul>
        </div>
     
      </nav>
    </div>
  </div>
</header>

<main id="content" role="main">
