{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.navigation %}
  <li class=""><a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}><span class="menu-item-span">{{ item.text }}</span> </a>  
    {% if item.subitems %}
      
       {% include navigation.html navigation=item.subitems %}
  
    {% endif %}
  </li>
{% endfor %}
  
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Company</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ "about" | relative_url }}">About</a></li>
                                    <li><a href="{{ "contact" | relative_url }}">Contact</a></li>
                                    <li><a href="{{ "blog" | relative_url }}">El Blog</a></li>
                                    <li><a href="{{ "careers" | relative_url }}">Careers</a></li>
                                </ul>
</li>
  
<li class="menu-item-has-children"><a href="/#"><span class="menu-item-span">Resources</span></a>
                                <ul class="sub-menu">
                                    <li><a href="//api.elektropay.com">API</a></li>
                                    <li><a href="//devs.elektropay.com">Developers</a></li>
                                    <li><a href="//docs.elektropay.com">Documentation</a></li>
                                    <li><a href="//support.elektropay.com">Help &amp; Support</a></li>
                                </ul>
</li> 
  
</ul>
