{% assign navurl = page.url | remove: 'index.html' %}
<ul>
<!-- {% for item in include.navigation %}
  <li class=""><a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}><span class="menu-item-span">{{ item.text }}</span> </a>  
    {% if item.subitems %}
      
       {% include navigation.html navigation=item.subitems %}
  
    {% endif %}
  </li>
{% endfor %} -->
  {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Company</span></a>
                <li class=" dropdown {{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="menu-item-span">{{ link.title }}</span> <span class="caret"></span></a>
                    <ul class="sub-menu dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}"><span class="menu-item-span">{{ sublink.title }}</span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}"><span class="menu-item-span">{{ link.title }}</span></a>
                </li>
            {% endif %}
        {% endfor %}
  
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Company</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ "about" | relative_url }}">About</a></li>
                                    <li><a href="{{ "contact" | relative_url }}">Contact</a></li>
                                    <li><a href="{{ "blog" | relative_url }}">El Blog</a></li>
                                    <li><a href="{{ "careers" | relative_url }}">Careers</a></li>
                                </ul>
</li>
  
<li class="menu-item-has-children"><a href="/#"><span class="menu-item-span">Resources</span></a>
                                <ul class="sub-menu">
                                    <li><a href="//api.elektropay.com">API</a></li>
                                    <li><a href="//devs.elektropay.com">Developers</a></li>
                                    <li><a href="//docs.elektropay.com">Documentation</a></li>
                                    <li><a href="//support.elektropay.com">Help &amp; Support</a></li>
                                </ul>
</li> 
  
</ul>
