{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.navigation %}
  <li class=""><a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}><span class="menu-item-span">{{ item.text }}</span> </a>  
    {% if item.subitems %}
      
       {% include navigation.html navigation=item.subitems %}
  
    {% endif %}
  </li>
{% endfor %}
  
               
        <!-- Consumer -->
    <li class="menu-item-has-children" 
         data-event="hover"
                  data-animation-in="slideInUp"
                  data-max-width="440px"
                  data-animation-out="fadeOut"
                  data-position="right">
      <a id="personalMegaMenu" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="personalSubMenu"><span class="menu-item-span u-header__nav-link-toggle">For Consumers</span></a>
            <ul id="personalSubMenu" class="sub-menu" style="width: 440px;">
               <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-position-right-fix--md" aria-labelledby="personalMegaMenu">
                  <div class="u-header__mega-menu-wrapper">
                    <div class="row">
                      
                      <div class="col-sm-6">
                 <span class="u-header__sub-menu-title">Features</span>
                        <ul class="u-header__sub-menu-nav-group">
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "consumers/features" | relative_url }}">Overview</a></li>
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "consumers/account-types" | relative_url }}">Account Types</a></li>
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "consumers/money-transfers" | relative_url }}">Money Transfer</a></li>
                           </ul>
                      </div>

                      <div class="col-sm-6">
                        <ul class="u-header__sub-menu-nav-group">
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/fees-and-costs" | relative_url }}">Fees &amp; Pricing</a></li>
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "signup" | relative_url }}">Claim Account</a></li>
                        </ul>
                      </div>
                      
                    </div>
                  </div>
              
                  <div class="u-header__product-banner">
                    <div class="d-flex align-items-end">
                      <img class="img-fluid mr-4" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265869/img/mockups/img7.png" alt="Image Description">
                      <div class="u-header__product-banner-content">
                        <div class="mb-4">
                          <span class="u-header__product-banner-title">Customize Your Cards</span>
                          <p class="u-header__product-banner-text">Personalize your card accounts today.</p>
                        </div>
                        <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                      </div>
                    </div>
                  </div>
</ul>
</li>
  
 <!-- <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-max-width="440px"
                  data-position="right">
                <a id="consumerMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Shop</a>
                <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-position-right-fix--md" aria-labelledby="consumerMegaMenu">
                  <div class="u-header__mega-menu-wrapper">
                    <span class="u-header__sub-menu-title">Shop Elements</span>

                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="u-header__sub-menu-nav-group">
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/features" | relative_url }}">Overview</a></li>
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/account-types" | relative_url }}">Account Types</a></li>
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/money-transfer" | relative_url }}">Quick Transfer</a></li>
                        </ul>
                      </div>

                      <div class="col-sm-6">
                        <ul class="u-header__sub-menu-nav-group">
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/fees-and-costs" | relative_url }}">Fees &amp; Pricing</a></li>
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "consumers/claim-account" | relative_url }}">Get Started</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="u-header__product-banner">
                    <div class="d-flex align-items-end">
                      <img class="img-fluid mr-4" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265869/img/mockups/img7.png" alt="">
                      <div class="u-header__product-banner-content">
                        <div class="mb-4">
                          <span class="u-header__product-banner-title">Custom Cards</span>
                          <p class="u-header__product-banner-text">Personalize your card account today.</p>
                        </div>
                        <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="{{ "consumers/personalized-cards" | relative_url }}">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li> -->
  
<li class="menu-item-has-children u-header__nav-link-toggle" 
         data-event="hover"
         data-animation-in="slideInUp"
         data-animation-out="fadeOut"
         data-position="left">
<a id="businessMegaMenu" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="businessSubMenu"><span class="menu-item-span u-header__nav-link-toggle"> For Businesses</span></a>
      <ul id="businessSubMenu" class="sub-menu">
          <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="businessMegaMenu" style="width: 100%;">
                  <div class="row no-gutters">
                    
                    <div class="col-lg-6">
                      <div class="u-header__banner" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559811995/img/750x750/menu_banner.jpg);">
                        <div class="u-header__banner-content">
                          <div class="mb-4">
                            <span class="u-header__banner-title">Branding Works</span>
                            <p class="u-header__banner-text">Experience a level of our quality in both design &amp; customization works.</p>
                          </div>
                          <a class="btn btn-primary btn-sm btn-pill transition-3d-hover" href="#">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                   <div class="row u-header__mega-menu-wrapper">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <span class="u-header__sub-menu-title">Classic</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                           <li><a class="u-header__sub-menu-nav-link" href="{{ "business/features" | relative_url }}">Features</a></li>
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "business/products" | relative_url }}">Products</a></li>
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "business/solutions" | relative_url }}">Solutions</a></li>
                                    <li><a class="u-header__sub-menu-nav-link" href="{{ "business/plans" | relative_url }}">Plans &amp; Pricing</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Corporate</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="u-header__sub-menu-nav-link" href="corporate-agency.html">Corporate Agency</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="corporate-start-up.html">Corporate Start-Up</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="corporate-business.html">Corporate Business</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Portfolio</span>
                          <ul class="u-header__sub-menu-nav-group">
                            <li><a class="u-header__sub-menu-nav-link" href="portfolio-agency.html">Portfolio Agency</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="portfolio-profile.html">Portfolio Profile</a></li>
                          </ul>
                        </div>

                        <div class="col-sm-6">
                          <span class="u-header__sub-menu-title">Onepages</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="u-header__sub-menu-nav-link" href="onepage-creative.html">Onepage Creative</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="onepage-saas.html">Onepage SaaS</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Blog</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="u-header__sub-menu-nav-link" href="blog-agency.html">Blog Agency</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="blog-start-up.html">Blog Start-Up</a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="blog-business.html">Blog Business</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">App</span>
                          <ul class="u-header__sub-menu-nav-group">
                            <li><a class="u-header__sub-menu-nav-link" href="#">App Payment <span class="badge badge-success badge-pill ml-1">New</span></a></li>
                            <li><a class="u-header__sub-menu-nav-link" href="#">App Software <span class="badge badge-success badge-pill ml-1">New</span></a></li>
                          </ul>
                        </div>   

                    </div>
                    
                    
                </div>
        </div> 
        
          </ul>
</li>
<!-- <li class="nav-item hs-has-mega-menu u-header__nav-item menu-item-has-children"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-position="left">
                <a id="businessMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">For Business</a>
                <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="businessMegaMenu">
                  <div class="row no-gutters">
                    <div class="col-lg-6">
                      <div class="u-header__banner" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559811995/img/750x750/menu_banner.jpg);">
                        <div class="u-header__banner-content">
                          <div class="mb-4">
                            <span class="u-header__banner-title">Branding Works</span>
                            <p class="u-header__banner-text">Experience a level of our quality in both design &amp; customization works.</p>
                          </div>
                          <a class="btn btn-primary btn-sm btn-pill transition-3d-hover" href="#">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="row u-header__mega-menu-wrapper">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <span class="u-header__sub-menu-title">Features</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/features" | relative_url }}">Overview</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/features" | relative_url }}">Business</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/features" | relative_url }}">Marketing</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Products/span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="business/products">Overview</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="business/products">Products Start-Up</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="business/products">Products Business</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Solutions</span>
                          <ul class="u-header__sub-menu-nav-group">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/solutions" | relative_url }}">Solutions Agency</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/solutions" | relative_url }}">Solutions Company</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/solutions" | relative_url }}">Solutions Agency</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                          <span class="u-header__sub-menu-title">Marketplace</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/marketplace" | relative_url }}">Marketplace Creative</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/marketplace" | relative_url }}">Marketplace SaaS</a></li>
                          <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/marketplace" | relative_url }}">Marketplace Business</a></li>
                         </ul>

                          <span class="u-header__sub-menu-title">Security</span>
                          <ul class="u-header__sub-menu-nav-group mb-3">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/security" | relative_url }}">Security Agency</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/security" | relative_url }}">Security Start-Up</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/security" | relative_url }}">Security Business</a></li>
                          </ul>

                          <span class="u-header__sub-menu-title">Payments</span>
                          <ul class="u-header__sub-menu-nav-group">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/payments" | relative_url }}">Overview </a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/payments" | relative_url }}">Payment Types </a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/payments" | relative_url }}">Virtual Terminal</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ "business/pricing" | relative_url }}">Plans &amp; Pricing</a></li>
                          
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li> -->
              
  <!-- End Business -->
   
  
 <!-- <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Company</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ "about" | relative_url }}">About</a></li>
                                    <li><a href="{{ "contact" | relative_url }}">Contact</a></li>
                                    <li><a href="{{ "blog" | relative_url }}">Elektrolog</a></li>
                                    <li><a href="{{ "careers" | relative_url }}">Jobs <span class="badge badge-info badge-pill ml-1">We're hiring</span></a></li>
                                </ul>
</li> -->
  
<li class="menu-item-has-children"><a href="#"><span class="menu-item-span u-header__nav-link-toggle">Resources</span></a>
                                <ul class="sub-menu">
                                    <li><a href="//support.elektropay.com">Help &amp; Support</a></li>
                                    <li><a href="//sandbox.elektropay.com">Elektrolite API</a></li>
                                    <li><a href="//docs.elektropay.com">Documentation</a></li>
                                    <li><a href="//developer.elektropay.com">Developer Portal</a></li>
                                </ul>
</li> 
  
</ul>
