<!-- Hero-->
            <section class="module-cover parallax fullscreen text-center" data-background="https://static.elektropay.com/assets/images/module-2.jpg" data-jarallax-video="https://www.youtube.com/watch?v=ARvle-Ei6Sw" data-overlay="0.7" data-gradient="1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>It All Starts with <br> Your Stunning Website</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero end-->



{% if page.intro_paragraph and page.intro_paragraph != '' %}
  <p class="intro">
    {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
{% endif %}
