<div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-12 mb-9 mb-lg-0">
          <div class="mb-5">
            <h1 class="font-weight-medium mb-4">How ElektroPay Works</h1>
            <!--<p>When paying in stores, ElektroPay doesn't share your actual card number, so your information always stays secure. Plus, you can check out faster and easier.</p>-->
          </div>

          <div class="w-md-50 w-lg-80 mb-2">
		</div>
		
	      </div>
	</div>
</div>


<div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">Payments made simple, in stores, online or by phone with speed and security using.</h2>
            <p>When paying in stores, ElektroPay doesn't share your actual card number, so your information always stays secure. Plus, you can check out faster and easier.</p>
          </div>

          <div class="w-md-50 w-lg-80 mb-2">
            <!-- Fancybox -->
            <div class="bg-img-hero text-center rounded py-11 px-5" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1563435733/img/480x320/img30.jpg);">
              <a class="js-fancybox d-inline-block u-media-player" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
                <span class="u-media-player__icon">
                  <span class="fas fa-play u-media-player__icon-inner"></span>
                </span>
              </a>
            </div>
            <!-- End Fancybox -->
          </div>

          <p class="small">See how collect paymentrs wit Elektropay</p>
        </div>

        <div class="col-lg-6">
          <div id="featuresSVG" class="position-relative max-width-50 mx-auto" style="">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.4 907.6" style="enable-background:new 0 0 443.4 907.6;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
                       {"targetId": "#SVGiphoneX1Img1", "newPath":"https://res.cloudinary.com/lmj6rf6tz/image/upload/v1563435941/img/img1.jpg"}
                     ]" data-parent="#featuresSVG">
<style type="text/css">
	.iphone-x-1-0{fill:#FFFFFF;}
	.iphone-x-1-1{fill:none;stroke:#F7F7F7;}
	.iphone-x-1-2{fill:none;stroke:#E7EAF3;}
	.iphone-x-1-3{fill:#F7F7F7;}
</style>
<path class="iphone-x-1-0" d="M378.3,0H65.1C29.1,0,0,29.1,0,65.1v777.4c0,35.9,29.1,65.1,65.1,65.1h313.2c35.9,0,65.1-29.1,65.1-65.1V65.1  C443.4,29.1,414.2,0,378.3,0z"></path>
<path class="iphone-x-1-1" stroke-width="4" stroke-miterlimit="10" d="M242.8,36.8h-46.4c-2,0-3.6-1.6-3.6-3.6l0,0c0-2,1.6-3.6,3.6-3.6h46.4c2,0,3.6,1.6,3.6,3.6l0,0  C246.4,35.2,244.8,36.8,242.8,36.8z"></path>
<circle class="iphone-x-1-1" stroke-width="4" stroke-miterlimit="10" cx="269.5" cy="33.2" r="5.5"></circle>
<g>
	<g>
		<defs>
			<path id="iphoneX1ID_1" d="M333.4,30.4L333.4,30.4c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7v765.2     c0,28-21.8,50.7-48.8,50.7H67.4c-26.9,0-48.8-22.7-48.8-50.7V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0     c0,14.9,11.6,27,26,27h171.5C321.8,57.5,333.4,45.4,333.4,30.4z"></path>
		</defs>
		<clipPath id="iphoneX1ID_2">
			<use xlink:href="#iphoneX1ID_1" style="overflow:visible;"></use>
		</clipPath>
		<g clip-path="url(#iphoneX1ID_2)">
			<image id="SVGiphoneX1Img1" style="overflow:visible;enable-background:new;" width="407" height="867" xlink:href="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1563435941/img/img1.jpg" transform="matrix(1 0 0 1 18.1877 22.7069)"></image>
		</g>
	</g>
	<g>
		<path id="iphoneXID_1" class="iphone-x-1-2" stroke-miterlimit="10" d="M333.4,30.4L333.4,30.4c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7v765.2    c0,28-21.8,50.7-48.8,50.7H67.4c-26.9,0-48.8-22.7-48.8-50.7V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0    c0,14.9,11.6,27,26,27h171.5C321.8,57.5,333.4,45.4,333.4,30.4z"></path>
	</g>
</g>
<path class="iphone-x-1-3" d="M285.2,879.8h-127c-1.4,0-2.6-1.2-2.6-2.6l0,0c0-1.4,1.2-2.6,2.6-2.6h127c1.4,0,2.6,1.2,2.6,2.6l0,0  C287.8,878.7,286.6,879.8,285.2,879.8z"></path>
</svg>
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-abstract-shapes-12">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 467 712" style="enable-background:new 0 0 467 712;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#featuresSVG">
<style type="text/css">
	.abstract-shapes-12-0{fill:#377DFF;}
	.abstract-shapes-12-1{fill:#00DFFC;}
	.abstract-shapes-12-2{fill:none;stroke:#FFC107;}
</style>
<path class="abstract-shapes-12-0 fill-primary" d="M64.5,583L64.5,583c35.6,0,64.5,28.9,64.5,64.5v0c0,35.6-28.9,64.5-64.5,64.5h0C28.9,712,0,683.1,0,647.5v0  C0,611.9,28.9,583,64.5,583z"></path>
<path class="abstract-shapes-12-1 fill-info" d="M338,428L338,428c71.2,0,129,57.8,129,129v0H338V428z"></path>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="5" y1="114.5" x2="115.3" y2="4.3"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="75.8" y1="2.8" x2="2.3" y2="76.3"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="3.1" y1="34.6" x2="35.4" y2="2.4"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="3.6" y1="53.1" x2="53.9" y2="2.9"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="45.2" y1="115.2" x2="116.2" y2="44.2"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="21.2" y1="118.2" x2="117.2" y2="22.2"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="2.2" y1="96.2" x2="96.2" y2="2.2"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="84.4" y1="116.9" x2="117.6" y2="83.6"></line>
<line class="abstract-shapes-12-2 fill-none stroke-warning" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="66.9" y1="116.4" x2="117.1" y2="66.1"></line>
</svg>
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>




<div class="module">
                <div class="container">
			
   <div class="row align-items-center">

      <div class="col-lg-6 order-lg-2"> 
                <div class="m-auto p-b-1">	
                      <h1>Your Digital Pass To Global Banking</h1>
		<div class="space" data-my="40px" style="margin-top: 40px;"></div>
                   <p class="lead m-b-20">Save up to 5x compared to a bank when you send money, get paid in other currencies, or spend abroad on the Elektropay debit Mastercard.</p>
                                          
                 <!--<p class="lead m-b-20">Elektropay also supports a vast range of billing models, devices, payment methods, gateways, and processors. We also power marketplaces with a mix of pay-in methods like all card methods, bank payments, bitcoin and leading wallets in a single integration. Also simplify payouts with ElektroWallet, which puts you back in control of both sides of the marketplace transactions by seamlessly distributing funds worldwide to vendors, freelancers, and contractors in a few clicks.</p>-->
                       
                          <div class="demo-btn m-auto text-center">
                            <div class="space" data-my="40px" style="margin-top: 40px;"></div>
                              <a class="btn btn-circle btn-brand" href="{{ "consumers/features" | relative_url }}">Learn more</a> 
                          </div>
                   </div>                       
	</div>
				
   <div class="col-lg-6 order-lg-1">
       <div id="featuresSVG" class="svg-preloader position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
            <figure class="ie-iphone-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.4 767.6" style="enable-background:new 0 0 443.4 907.6;" xml:space="preserve" class="injected-svg js-svg-injector" data-img-paths="[
                       {"targetId": "#SVGiphoneX2Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559839149/img/online-banking.jpg"}
                     ]" data-parent="#featuresSVG2">
<style type="text/css">
	.iphone-x-2-0{fill:#FFFFFF;}
	.iphone-x-2-1{fill:none;stroke:#F7F7F7;}
	.iphone-x-2-2{fill:none;stroke:#E7EAF3;}
	.iphone-x-2-3{fill:#F7F7F7;}
</style>
<path class="iphone-x-2-0" d="M378.3,0H65.1C29.1,0,0,29.1,0,65.1v777.4c0,35.9,29.1,65.1,65.1,65.1h313.2c35.9,0,65.1-29.1,65.1-65.1V65.1  C443.4,29.1,414.2,0,378.3,0z"></path>
<path class="iphone-x-2-1" stroke-width="4" stroke-miterlimit="10" d="M242.8,36.8h-46.4c-2,0-3.6-1.6-3.6-3.6l0,0c0-2,1.6-3.6,3.6-3.6h46.4c2,0,3.6,1.6,3.6,3.6l0,0  C246.4,35.2,244.8,36.8,242.8,36.8z"></path>
<circle class="iphone-x-2-1" stroke-width="4" stroke-miterlimit="10" cx="269.5" cy="33.2" r="5.5"></circle>
<g>
	<g>
		<defs>
			<path id="iphoneX2ID_1" d="M333.4,30.4L333.4,30.4c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7v765.2     c0,28-21.8,50.7-48.8,50.7H67.4c-26.9,0-48.8-22.7-48.8-50.7V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0     c0,14.9,11.6,27,26,27h171.5C321.8,57.5,333.4,45.4,333.4,30.4z"></path>
		</defs>
		<clipPath id="iphoneX2ID_2">
			<use xlink:href="#iphoneX2ID_1" style="overflow:visible;"></use>
		</clipPath>
		<g clip-path="url(#iphoneX2ID_2)">
			<image id="SVGiphoneX2Img1" style="overflow:visible;enable-background:new;" width="407" height="727" xlink:href="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559839149/img/online-banking.jpg" transform="matrix(1 0 0 1 18.1877 22.7069)"></image>
		</g>
	</g>
	<g>
		<path id="iphoneX2ID_1" class="iphone-x-2-2" stroke-miterlimit="10" d="M333.4,30.4L333.4,30.4c0-4.1,3.2-7.5,7.2-7.5H376c26.9,0,48.8,22.7,48.8,50.7v765.2    c0,28-21.8,50.7-48.8,50.7H67.4c-26.9,0-48.8-22.7-48.8-50.7V73.6c0-28,21.8-50.7,48.8-50.7h35.3c4,0,7.2,3.4,7.2,7.5l0,0    c0,14.9,11.6,27,26,27h171.5C321.8,57.5,333.4,45.4,333.4,30.4z"></path>
	</g>
</g>
<path class="iphone-x-2-3" d="M285.2,879.8h-127c-1.4,0-2.6-1.2-2.6-2.6l0,0c0-1.4,1.2-2.6,2.6-2.6h127c1.4,0,2.6,1.2,2.6,2.6l0,0  C287.8,878.7,286.6,879.8,285.2,879.8z"></path>
</svg>
              </figure>   
               
               
              <!--<figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559835219/svg/components/iphone-x-1.svg" alt=""
                     data-img-paths='[
                       {"targetId": "#SVGiphoneX1Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559835338/img/iphone-x-1.jpg"}
                     ]'
                     data-parent="#featuresSVG">
              </figure>-->
            </div>
	       
            <div class="position-absolute bottom-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-abstract-shapes-12">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559837359/svg/components/abstract-shapes-12.svg" alt=""
                     data-parent="#featuresSVG">
              </figure>
            </div>
   </div>
   </div>
	   </div>
</div>

</div>

 
