
    <div class="bg-white">
      <div class="container space-2 space-md-3 space-lg-5">
    <div class="row justify-content-lg-between align-items-lg-center">      
 <div class="w-md-75 w-lg-50 text-center text-md-center mx-auto mb-9">
<h1 class="h2 font-weight-medium mb-4 ml-4">Track and Take Care Of Your <span class="text-primary font-weight-semi-bold">Finances </span>
       </h1>
      </div>


        <div class="w-lg-85 mx-lg-auto">
          <div class="card-deck d-block d-md-flex card-md-gutters-3 mb-9">
        
            <article class="card text-center">
              <div class="card-body p-7">
                <!-- SVG Icon -->
                <div id="SVGforSale" class="svg-preloader w-75 mx-auto mb-6">
                  <figure class="ie-for-sale">
                    <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265698/svg/flat-icons/vault.svg" alt=""
                         data-parent="#SVGforSale">
                  </figure>
                </div>
		      

                <h3 class="h4 mb-3">I'm a Consumer</h3>
                <p class="mb-4">Now you can easily manage activities such as money transfers, balance enquiries, payments, deposits, etc. with just a few clicks.</p>
                <a class="btn btn-sm btn-pill btn-secondary transition-3d-hover" href="{{ "for-consumers" | relative_url }}">
                  Tell me more
                  <span class="fas fa-angle-right ml-2"></span>
                </a>
              </div>
            </article>
		  
            <article class="card text-center">
              <div class="card-body p-7">
                <!-- SVG Icon -->
                <div id="SVGbuyer" class="svg-preloader w-75 mx-auto mb-6">
                  <figure class="ie-buyer">
                    <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265691/svg/flat-icons/easy-payment.svg" alt=""
                         data-parent="#SVGbuyer">
                  </figure>
                </div>

                <h3 class="h4 mb-3">I'm a Business</h3>
                <p class="mb-4">ElektroPay's open payments platform allows you to use any processor, accept chip, swipe and contactless credit card payments in-person or on the go. </p>
                <a class="btn btn-sm btn-pill btn-primary transition-3d-hover" href="{{ "for-business" | relative_url }}">
                  Learn more 
                  <span class="fas fa-angle-right ml-2"></span>
                </a>
              </div>
            </article>
           
		  
          </div>
        </div>
      </div>
    </div>



<div id="featuresSection" class="container space-1 space-md-3 active">
      <div class="row justify-content-lg-between align-items-lg-center">      
 <div class="w-md-75 w-lg-50 text-center text-md-center text-lg-center mb-2 mx-auto">
    <h1 class="h2 font-weight-medium mb-4 m-auto text-center">See How ElektroPay Works</h1>
      </div>
	      
<div id="SVGkeyFeatures" class="card-deck card-lg-gutters-2 d-block d-lg-flex mb-9" style="">
        <div class="card mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="card-body p-5">
            <figure class="ie-height-56 w-100 max-width-9 mb-4 text-center mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGkeyFeatures">
<style type="text/css">
	.icon-9-0{fill:none;stroke:#FFFFFF;}
	.icon-9-1{fill:#BDC5D1;}
	.icon-9-2{fill:#377DFF;}
	.icon-9-3{fill:none;stroke:#BDC5D1;}
	.icon-9-5{fill:none;stroke:#377DFF;}
</style>
<path class="icon-9-1 fill-gray-400" opacity=".5" d="M35.7,120H4c-2.2,0-4-1.8-4-4V54.1c0-2.2,1.8-4,4-4h31.7c2.2,0,4,1.8,4,4V116C39.7,118.2,37.9,120,35.7,120z"></path>
<path class="icon-9-2 fill-primary" d="M48.4,116.4H16.7c-2.2,0-4-1.8-4-4V48.5c0-2.2,1.8-4,4-4h31.7c2.2,0,4,1.8,4,4v63.9  C52.4,114.6,50.6,116.4,48.4,116.4z"></path>
<path class="icon-9-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M80.3,106.9c0,1.4-1.1,2.6-2.6,2.6c-1.4,0-2.6-1.1-2.6-2.6c0-1.4,1.1-2.6,2.6-2.6  C79.2,104.3,80.3,105.5,80.3,106.9z"></path>
<circle class="icon-9-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.2" cy="109.9" r="2.6"></circle>
<line class="icon-9-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.3" y1="52.1" x2="47.6" y2="52.1"></line>
<line class="icon-9-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.6" y1="101.7" x2="17.3" y2="101.7"></line>
<path class="icon-9-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M36.9,35.3V5.6c0-2.1,1.7-3.8,3.8-3.8h73.9c2.1,0,3.8,1.7,3.8,3.8v104.9c0,2.1-1.7,3.8-3.8,3.8H61.3"></path>
<line class="icon-9-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="94" y1="28.8" x2="61.5" y2="71.4"></line>
<line class="icon-9-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="71.6" y1="68.8" x2="82.1" y2="55.1"></line>
<line class="icon-9-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="85.4" y1="50.8" x2="90.2" y2="44.7"></line>
<line class="icon-9-0 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="43.1" y1="62.3" x2="20.8" y2="91.5"></line>
<line class="icon-9-0 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="27.7" y1="89.7" x2="34.9" y2="80.3"></line>
<line class="icon-9-0 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="37.2" y1="77.3" x2="40.5" y2="73.2"></line>
<line class="icon-9-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="72.5" y1="6.8" x2="82.7" y2="6.8"></line>
<polyline class="icon-9-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="45.6,34.8 45.6,11.7 109.9,11.7 109.9,66.4 "></polyline>
<polyline class="icon-9-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="109.9,81.7 109.9,96.9 59.3,96.9 "></polyline>
</svg>
            </figure>
            <h3 class="h3">Create it</h3>
            <p class="font-size-1">Elektropay is a fast and scalable Commerce As Service Platform that is designed to accept all types of payments and easily send money. No hidden fees. No high rates. No surprises.</p>
            <a class="font-size-1" href="#">Learn MORE <span class="fas fa-angle-right align-middle ml-2"></span></a>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="card mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="card-body p-5">
            <figure class="ie-height-56 w-100 max-width-8 mb-4 text-center mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGkeyFeatures">
<style type="text/css">
	.icon-3-0{fill:none;stroke:#BDC5D1;}
	.icon-3-1{fill:#BDC5D1;}
	.icon-3-2{fill:#377DFF;}
	.icon-3-3{fill:none;stroke:#377DFF;}
	.icon-3-4{fill:none;stroke:#FFFFFF;}
</style>
<path class="icon-3-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M117.9,60c0-0.5,0-1,0-1.5l-7.1-2.9l6.5-4.4c-0.9-5.7-2.5-11-4.9-16l-8.1,0.3l4.3-6.9c-3-4.7-6.7-8.8-10.9-12.4  l-7.6,3.7l1.2-8.4c-4.6-2.9-9.6-5.2-14.9-6.8l-5.5,6.6l-2.4-8.3c-2.7-0.4-5.4-0.6-8.2-0.6s-5.5,0.2-8.2,0.6l-2.4,8.3l-5.5-6.6  c-5.3,1.6-10.4,3.9-14.9,6.8l1.2,8.4l-7.6-3.7c-4.2,3.6-7.9,7.8-10.9,12.4l4.3,6.9l-8.1-0.3c-2.4,5-4.1,10.4-4.9,16l6.5,4.4  l-7.1,2.9c0,0.5,0,1,0,1.5c0,5.3,0.7,10.5,2.1,15.4l7.2,1.3l-5,5.2C9,87.3,12,92.3,15.7,96.7l6.8-1.7l-2.3,6.5  c4.2,4,8.9,7.5,14.2,10.1l5.3-4.1l0.5,6.6c5.4,2,11.1,3.2,17.1,3.6l3.1-5.8l3.1,5.8c6-0.3,11.7-1.6,17.1-3.6l0.5-6.6l5.3,4.1  c5.2-2.6,10-6.1,14.2-10.1L98,95l6.8,1.7c3.6-4.4,6.6-9.4,8.8-14.8l-5-5.2l7.2-1.3C117.2,70.5,117.9,65.4,117.9,60z"></path>
<path class="icon-3-1 fill-gray-400" opacity=".5" d="M91.3,56.1l-7-0.5l1.7-6.8c-1.7-1.6-3.6-3.1-5.8-4.2l-6,3.7l-2.7-6.5c-1.2-0.2-2.4-0.2-3.6-0.2  c-1.2,0-2.4,0.1-3.6,0.2l-2.7,6.5l-6-3.7c-2.1,1.1-4.1,2.6-5.8,4.2l1.7,6.8l-7,0.5c-1,2.1-1.8,4.4-2.2,6.8l5.4,4.6L42.3,72  c0.4,2.4,1.2,4.7,2.2,6.8l7,0.5l-1.7,6.8c1.7,1.6,3.6,3.1,5.8,4.2l6-3.7l2.7,6.5c1.2,0.2,2.4,0.2,3.6,0.2c1.2,0,2.4-0.1,3.6-0.2  l2.7-6.5l6,3.7c2.1-1.1,4.1-2.6,5.8-4.2l-1.7-6.8l7-0.5c1-2.1,1.8-4.4,2.2-6.8l-5.4-4.6l5.4-4.6C93.1,60.5,92.4,58.2,91.3,56.1z"></path>
<path class="icon-3-2 fill-primary" d="M83.4,48.4l-7-0.5L78,41c-1.7-1.6-3.6-3.1-5.8-4.2l-6,3.7L63.6,34c-1.2-0.2-2.4-0.2-3.6-0.2s-2.4,0.1-3.6,0.2  l-2.7,6.5l-6-3.7c-2.1,1.1-4.1,2.6-5.8,4.2l1.7,6.8l-7,0.5c-1,2.1-1.8,4.4-2.2,6.8l5.4,4.6l-5.4,4.6c0.4,2.4,1.2,4.7,2.2,6.8l7,0.5  L42,78.5c1.7,1.6,3.6,3.1,5.8,4.2l6-3.7l2.7,6.5c1.2,0.2,2.4,0.2,3.6,0.2s2.4-0.1,3.6-0.2l2.7-6.5l6,3.7c2.1-1.1,4.1-2.6,5.8-4.2  l-1.7-6.8l7-0.5c1-2.1,1.8-4.4,2.2-6.8l-5.4-4.6l5.4-4.6C85.2,52.8,84.4,50.5,83.4,48.4z"></path>
<path class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M99.9,59.6c0,0.1,0,0.3,0,0.4"></path>
<path class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M99.1,52c0.2,0.9,0.4,1.9,0.5,2.9"></path>
<path class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M60.2,20.4c16.6,0,30.9,10.2,36.7,24.8"></path>
<path class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M21.8,69.8c-0.8-3.1-1.2-6.4-1.2-9.8"></path>
<path class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M60.2,99.6c-15.5,0-28.9-8.9-35.4-21.9"></path>
<circle class="icon-3-4 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="60" cy="59.7" r="11.3"></circle>
<polyline class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="67,25.9 60.2,20.4 67.9,16.2 "></polyline>
<polyline class="icon-3-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="53,94.8 60.2,99.7 53,104.5 "></polyline>
</svg>
            </figure>
            <h3 class="h3">Connect It</h3>
            <p class="font-size-1">Choose your own payment types, device, mobile swiper, POS device, payment provider, bank or service that you need to make it happen. without incurring more cost.</p>
            <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="card mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="card-body p-5">
            <figure class="ie-height-56 w-100 max-width-8 text-center mb-4 mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGkeyFeatures">
<style type="text/css">
	.icon-white-5-0{fill:#BDC5D1;}
	.icon-white-5-1{fill:#377DFF;}
	.icon-white-5-2{fill:none;stroke:#FFFFFF;}
</style>
<circle class="icon-white-5-0 fill-none stroke-gray-400" opacity=".15" cx="82.2" cy="92.3" r="27.2"></circle>
<circle class="icon-white-5-0 fill-grey-400" cx="72.2" cy="83.8" r="27.2"></circle>
<g>
	<path class="icon-white-5-1 fill-primary" d="M76.4,82.9c1.3,0.4,2.3,1.1,3.2,2c0.9,1,1.5,2.1,1.8,3.3s0.2,2.6-0.2,3.9c-0.5,1.4-1.4,2.6-2.7,3.4   c-1.3,0.8-2.7,1.3-4.2,1.3v3.1c0,0.3-0.1,0.6-0.3,0.7s-0.4,0.3-0.7,0.3h-2.1c-0.3,0-0.6-0.1-0.7-0.3s-0.3-0.4-0.3-0.7v-3.1   c-2.1,0-4-0.6-5.6-1.9c-0.2-0.2-0.3-0.5-0.4-0.8c0-0.3,0.1-0.6,0.3-0.8l2.2-2.2c0.2-0.1,0.4-0.2,0.6-0.3c0.2,0,0.5,0,0.7,0.2   c0.6,0.4,1.4,0.6,2.2,0.6h4.3c0.5,0,1-0.2,1.3-0.6c0.4-0.4,0.6-0.8,0.6-1.4c0-0.4-0.1-0.8-0.4-1.1c-0.3-0.3-0.6-0.6-1-0.7L68.3,86   c-1.5-0.4-2.7-1.2-3.7-2.3c-1-1.1-1.6-2.4-1.8-3.9c-0.1-1.4,0.2-2.7,0.8-3.9s1.5-2.1,2.6-2.9c1.1-0.7,2.4-1.1,3.8-1.1h0.1v-3.1   c0-0.3,0.1-0.6,0.3-0.7s0.4-0.3,0.7-0.3h2.1c0.3,0,0.6,0.1,0.7,0.3s0.3,0.4,0.3,0.7v3.1c2.1,0,3.9,0.6,5.6,1.9   c0.3,0.2,0.4,0.5,0.5,0.8c0,0.3-0.1,0.6-0.3,0.8l-2.2,2.3c-0.2,0.1-0.4,0.2-0.6,0.3c-0.2,0-0.5,0-0.7-0.1c-0.6-0.5-1.4-0.7-2.2-0.7   H70c-0.5,0-1,0.2-1.3,0.6c-0.4,0.4-0.6,0.8-0.6,1.4c0,0.4,0.1,0.8,0.4,1.1c0.3,0.3,0.6,0.6,1,0.7L76.4,82.9z"></path>
</g>
<path class="icon-white-5-2 fill-none stroke-grey-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M38.4,81.7H7.1c-2.7,0-5-2.2-5-5V7.5c0-2.7,2.2-5,5-5h106c2.7,0,5,2.2,5,5v69.2c0,2.7-2.2,5-5,5l0,0"></path>
<ellipse class="icon-white-5-2 fill-grey-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.3" cy="12.6" rx="3.1" ry="3.1"></ellipse>
<circle class="icon-white-5-2 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.6" cy="12.6" r="3.1"></circle>
<circle class="icon-white-5-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" cx="12" cy="12.6" r="3.1"></circle>
<polyline class="icon-white-5-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="14.7,63.8 43.3,48.1 48.6,53.9 71.2,40.1 78.5,48.5 110.4,21.6 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="101.3,23.6 110.4,21.6 107.4,30.2 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="83.5,34.8 83.5,17.3 89.3,17.3 89.3,29.6 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="60.8,39 60.8,23.6 66.5,23.6 66.5,34.8 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="49.4,45.4 49.4,36.3 55.1,36.3 55.1,42.2 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-white" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="38,43.3 38,32 43.7,32 43.7,40.1 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="26.6,49.6 26.6,41.6 32.3,41.6 32.3,46.4 "></polyline>
<polyline class="icon-white-5-2 fill-none stroke-primary" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="72.2,33.6 72.2,27.8 77.9,27.8 77.9,37.9 "></polyline>
</svg>
            </figure>
            <h3 class="h3">Customize <span class="font-weight-medium">It</span></h3>
            <p class="font-size-1">Set it and forget it, Elektropay's Point to Point Encryption secures and protects sensitive card data from the bginning to the end of the sales process, which vastly reduces PCI compliance risks.</p>
            <a class="font-size-1" href="#">Learn more <span class="fas fa-angle-right align-middle ml-2"></span></a>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="card mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="card-body p-5">
            <figure class="ie-height-56 w-100 max-width-8 text-center mb-4 mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGkeyFeatures">
<style type="text/css">
	.icon-2-0{fill:none;stroke:#377DFF;}
	.icon-2-1{fill:none;stroke:#BDC5D1;}
	.icon-2-2{fill:#377DFF;}
	.icon-2-3{fill:#BDC5D1;}
	.icon-2-4{fill:#FFFFFF;}
</style>
<path class="icon-2-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M99.1,113.3"></path>
<path class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M15.1,75.6V11l4.4-4.3l4.3,4.3l4.3-4.3l4.3,4.3l4.3-4.3l4.3,4.3l4.3-4.3l4.3,4.3l4.3-4.3l4.3,4.3l4.3-4.3  l4.3,4.3l4.3-4.3l4.3,4.3l4.3-4.3l4.3,4.3L89,6.7l4.4,4.3v96.5c0,3.2,2.6,5.8,5.8,5.8l0,0c3.2,0,5.8-2.6,5.8-5.8V13.2h-5.8v93.1"></path>
<line class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.1" y1="113.3" x2="26.1" y2="113.3"></line>
<g opacity=".5">
	<path class="icon-2-3 fill-gray-400" d="M78.1,44.5H39.2c-4.1,0-7.3-3.3-7.3-7.3v0c0-4.1,3.3-7.3,7.3-7.3h38.9c4.1,0,7.3,3.3,7.3,7.3v0   C85.5,41.2,82.2,44.5,78.1,44.5z"></path>
</g>
<g>
	<path class="icon-2-2 fill-primary" d="M73.1,38H34.2c-4.1,0-7.3-3.3-7.3-7.3v0c0-4.1,3.3-7.3,7.3-7.3h38.9c4.1,0,7.3,3.3,7.3,7.3v0   C80.5,34.7,77.2,38,73.1,38z"></path>
</g>
<g>
	<path class="icon-2-4 fill-white" d="M65.4,32.3H41.9c-0.9,0-1.6-0.7-1.6-1.6v0c0-0.9,0.7-1.6,1.6-1.6h23.5c0.9,0,1.6,0.7,1.6,1.6v0   C67,31.5,66.3,32.3,65.4,32.3z"></path>
</g>
<g opacity=".5">
	<line class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.8" y1="86" x2="33.1" y2="86"></line>
	<line class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.8" y1="93.5" x2="33.1" y2="93.5"></line>
	<line class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.8" y1="101.1" x2="18.3" y2="101.1"></line>
	<line class="icon-2-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="27.3" y1="101.1" x2="33.1" y2="101.1"></line>
</g>
<line class="icon-2-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="54.4" y1="90.6" x2="54.4" y2="102.8"></line>
<line class="icon-2-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="62.3" y1="87.1" x2="62.3" y2="102.8"></line>
<line class="icon-2-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="70.3" y1="89.7" x2="70.3" y2="102.8"></line>
<line class="icon-2-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78.3" y1="81.8" x2="78.3" y2="102.8"></line>
<polyline class="icon-2-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="50.6,86 64.2,75.6 69,81.3 80.9,71.2 "></polyline>
</svg>
            </figure>
            <h3 class="h3">Collect it</h3>
            <p class="font-size-1">Every component and plugin is well documented with live examples.</p>
            <a class="font-size-1" href="#">Explore now <span class="fas fa-angle-right align-middle ml-2"></span></a>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
	      
	</div>
</div>

<div id="SVGshowcaseMockup2" class="bg-primary text-white shadow-primary-lg rounded space-bottom-2 space-bottom-md-3" style="">
      <div class="container rounded p-5 p-md-9">
        <div class="row justify-content-lg-between align-items-md-center">
          <div class="col-md-8 mb-2 mb-md-0">
            <div class="mb-0 mt-2">
              <h2 class="h3 font-weight-normal text-white">Elektropay makes accepting payments simple.</h2>
            </div>
          
          </div>

          <div class="col-md-4 col-lg-4">
            <a class="btn btn-sm btn-sm-wide btn-indigo btn-pill transition-3d-hover" href="{{ "signup" | relative_url }}">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>

<hr class="svg-divider-polygon p-t-2 p-b-1">
