<!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">No surprises, No Late fees, No annual fees, No hidden fees, Period.</h2>
            <p>We’re on a mission to bring real-time payments to everyday commerce,&nbsp;<a href="#" class="table-hero__footer-link">for the average person.</a>&nbsp;We charge as little as possible to send money overseas with Elektropay and is up to 75% cheaper than using a traditional bank. We always show you upfront, with no hidden fees. No bad exchange rates. No surprises.&nbsp;<a href="https://elektropay.com/disclaimer" class="table-hero__footer-link">How do we collect this data?</a></p>
          </div>

          <div class="w-md-50 w-lg-80 mb-2">
            <!-- Fancybox -->
            <div class="bg-img-hero text-center rounded py-11 px-5" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1563435733/img/480x320/img30.jpg);">
              <a class="js-fancybox d-inline-block u-media-player" href="javascript:;"
                 data-src="//vimeo.com/167434033"
                 data-speed="700"
                 data-animate-in="zoomIn"
                 data-animate-out="zoomOut"
                 data-caption="Elektropay - Commerce As A Service Platform">
                <span class="u-media-player__icon">
                  <span class="fas fa-play u-media-player__icon-inner"></span>
                </span>
              </a>
            </div>
            <!-- End Fancybox -->
          </div>

          <p class="small mb-2 mt-2">See how to send money with ElektroPay.</p>
           
          <div class="text-center mb-2"> 
    <a class="btn btn-primary btn-wide btn-pill transition-3d-hover text-center mt-5" href="/personal/features">Learn More
              
          <span class="fas fa-arrow-right text-white font-size-1 ml-2"></span>
              </a>
            </div>
        </div>

        <div class="col-lg-6">
          <div id="featuresSVG" class="position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559835219/svg/components/iphone-x-1.svg" alt=""
                     data-img-paths='[
                       {"targetId": "#SVGiphoneX1Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1563435941/img/img1.jpg"}
                     ]'
                     data-parent="#featuresSVG">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-bg-elements-4">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265675/svg/components/bg-elements-4.svg" alt=""
                     data-parent="#featuresSVG">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">Nomads, Expats, Freelancers & Vacationers are all welcomed.</h2>
            <p>To open a local account, you don't need to be a resident of the country you're in. You don't even need to provide us with your credit history. <br>Receive money with your own international bank details and track your transactions with notifications on your phone. Spend with your free debit Mastercard, and if necessary - instantly manage it all with-in the app.</p>
          </div>

            
          <div class="text-center mb-3">
    <a class="btn btn-primary btn-wide btn-pill transition-3d-hover text-center mt-5" href="/personal/features">Learn More
              <span class="fas fa-arrow-right font-size-1 ml-2"></span>
              </a>
            </div>
        </div>

        <div class="col-lg-6 order-lg-1">
          <div id="featuresSVG2" class="position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567573658/svg/components/iphone-x-2.svg" alt=""
                     data-img-paths='[
                       {"targetId": "#SVGiphoneX2Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559839149/img/online-banking.jpg"}
                     ]'
                     data-parent="#featuresSVG2">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 left-0 right-0 max-width-50 w-100 z-index-n1 mx-auto mb-n5">
              <figure class="ie-abstract-shapes-13">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567574493/svg/components/abstract-shapes-13.svg" alt=""
                     data-parent="#featuresSVG2">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-4">
            <h2 class="font-weight-medium mb-4">Global banking without the borders.</h2>
            <p>Elektropay is not a bank - we specialise in one thing and that's frictionless commerce.</p>
          </div>

          <ul class="list-unstyled">
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Deposit money to your Elektropay account via bank transfer, in cash, via debit card or credit card. </p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>One of the lowest cost currency exchange cards available when you travel with your Elektrokash debit card. </p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Get real-time bank transfers and do currency conversion at the real exchange rate.</p>
              </div>
            </li>
          </ul>
         
         <div class="text-center mb-3">
    <a class="btn btn-primary btn-wide btn-pill transition-3d-hover text-center mt-5" href="/personal/features">
          Learn More   
          <span class="fas fa-arrow-right text-white font-size-1 ml-2"></span>
             </a>
        </div>
            
        </div>

        <div class="col-lg-6">
          <div id="featuresSVG3" class="position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567573805/svg/components/iphone-x-3.svg" alt=""
                     data-img-paths='[
                       {"targetId": "#SVGiphoneX3Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567574328/img/activity.jpg"}
                     ]'
                     data-parent="#featuresSVG3">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->

            <!-- SVG Component -->
            <div class="content-centered-y left-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-abstract-shapes-14">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567573940/svg/components/abstract-shapes-14.svg" alt=""
                     data-parent="#featuresSVG3">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">All in one Commerce</h2>
            <p>Use Elektropay as your main account. Receive and make payments, transfer money internationally, shop online and in person - all with one account.</p>
          </div>

          <h4 class="h4 mb-3">Get our mobile app</h4>
            
           <a type="button" onclick="return monInstallLinkTrack('iOs', 'Header');" class="btn btn-xs btn-dark btn-pill btn-wide transition-3d-hover mr-4 text-left mb-2 mr-1" href="https://itunes.apple.com/gb/app/elektropay/id#">
            <span class="media align-items-center">
              <span class="fab fa-apple fa-2x mr-3"></span>
              <span class="media-body">
                <span class="d-block">Download on the</span>
                <strong class="font-size-1">App Store</strong>
              </span>
            </span>
          </a>
            
           <a type="button" onclick="return monInstallLinkTrack('Android', 'Header');" class="btn btn-xs btn-dark btn-pill btn-wide transition-3d-hover text-left mb-2 mr-1" href="https://play.google.com/store/apps/details?id=#&referrer=">
            <span class="media align-items-center">
              <span class="fab fa-google-play fa-2x mr-3"></span>
              <span class="media-body">
                <span class="d-block">Get it on</span>
                <strong class="font-size-1">Google Play</strong>
              </span>
            </span>
          </a>
        </div>

        <div class="col-lg-6 order-lg-1">
          <div id="featuresSVG4" class="position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-80 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1559835219/svg/components/iphone-x-1.svg" alt=""
                     data-img-paths='[
                       {"targetId": "#SVGiphoneX1Img1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567574328/img/activity.jpg"}
                     ]'
                     data-parent="#featuresSVG4">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 left-0 right-0 max-width-50 w-100 z-index-n1 mx-auto mb-n5">
              <figure class="ie-abstract-shapes-12">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1567574493/svg/components/abstract-shapes-13.svg" alt=""
                     data-parent="#featuresSVG2">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Pricing Section -->
    <div class="d-none container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-9">
        <h2 class="font-weight-medium mb-4">Always know what you'll pay.</h2>
        <p>Once you're setup, instantly withdraw payments or deposit into your bank account within 1-3 business days.</p>
      </div>
      <!-- End Title -->

      <!-- Pricing -->
      <div class="row no-gutters align-items-lg-center mb-11">
        <div class="col-lg-7 shadow-lg rounded">
          <div class="text-center py-11 px-5 px-sm-9">
            <header class="mb-9">
              <div class="mb-1">
                <span class="display-4 text-primary font-weight-medium">1.5%</span>
                <span class="badge badge-indigo badge-pill align-top ml-1">+0.5 USD</span>
              </div>
              <p>per successful transaction</p>
            </header>

            <div class="row justify-content-sm-center align-items-sm-center mb-5">
              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconAccount" class="ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265654/svg/illustrations/create-account.svg" alt=""
                       data-parent="#iconAccount">
                </figure>
                <h4 class="h6">Account creation</h4>
                <!-- End Icon Block -->
              </div>

              <div class="col-sm-1 my-3 my-sm-0">
                <span class="font-size-3 text-primary font-weight-medium">+</span>
              </div>

              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconProAccount" class="ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="/assets/svg/illustrations/pro-account.svg" alt=""
                       data-parent="#iconProAccount">
                </figure>
                <h4 class="h6">Professional account</h4>
                <!-- End Icon Block -->
              </div>
            </div>

            <div class="mb-7">
              <p class="small">Included for 3 months,<br>then $2.5/monthly included VAT</p>
            </div>

            <button type="button" class="btn btn-primary btn-wide btn-pill transition-3d-hover">Get Started</button>
          </div>
        </div>

        <div class="col-lg-5 bg-secondary">
          <div class="py-9 px-5 px-sm-9">
            <!-- Info -->
            <ul class="list-unstyled">
              <li class="media pb-3">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">135+ currencies</h4>
                  <p class="text-white-70">Process charges and display prices in your customer's.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Global support</h4>
                  <p class="text-white-70">Businesses in 25+ countries can accept payments.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Secure payment info collection</h4>
                  <p class="text-white-70 mb-0">Use our libraries to collect payment information without sensitive data.</p>
                </div>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </div>
      </div>
      <!-- End Pricing -->

      
    </div>
    <!-- End Pricing Section -->


    <!-- How To Section -->

    <div class="border-top">
    <div class="container space-2 space-top-lg-3">
      <!-- Title -->
  <div class="w-md-60 text-center mx-lg-auto mx-auto mb-9">
    <h2 class="font-weight-medium mb-5">Join over <strong class="text-primary">35,000</strong> happy customers saving on fees.</h2>
 <p class="font-weight-medium mb-5">From boarding passes to movie tickets, there's pretty much nothing you can't store with ElektroPay. Plus, you can take your money further with exclusive offers, discounts, and even reminders to use your loyalty card when you enter the store.</p>
      </div>
      <!-- End Title -->

      <!-- Icon Blocks Section -->
      <div class="row justify-content-md-center mb-9">
        <div class="col-md-4 col-lg-4 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon38" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265711/svg/icons/icon-38.svg" alt=""
                   data-parent="#icon38">
            </figure>
            <h4 class="h4 mb-2">Create an account.</h4>
            <h4 class="h6">Sign up online or in our app for free. All you need is an email address, or a Google or Facebook account.</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-4 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon22" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265704/svg/icons/icon-22.svg" alt=""
                   data-parent="#icon22">
            </figure>
            <h4 class="h4 mb-2">Choose an amount to send.</h4>
            <h4 class="h6">Tell us how much you want to send. We’ll show you our fees upfront, and tell you when your money should arrive.</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-4">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure id="addfile" class="ie-height-72 max-width-10 mx-auto mb-2">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265651/svg/illustrations/add-file.svg" alt=""
                   data-parent="#addfile">
            </figure>
            <h4 class="h4">Add reciever’s details.</h4>
              
            <h4 class="h6">Fill in the details of your recipient’s bank account. If you don’t know their details, we can request them for you.</h4>
          </div>
          <!-- End Icon Block -->
        </div>
 
         <div class="col-md-4 col-lg-4 mb-9 mb-lg-0 mt-9">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="verifieduser" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265667/svg/illustrations/verified-user.svg" alt=""
                   data-parent="#verifieduser">
            </figure>
            <h4 class="h4">Validate your identity.</h4>
              
            <h4 class="h6">For some currencies, or for large transfers, we need a photo of your ID. This helps us keep your money safe.</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-4 mb-9 mt-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="iconwhite39" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265742/svg/icons/icon-white-59.svg" alt=""
                   data-parent="#iconwhite59">
            </figure>
            <h4 class="h4">Pay for your transfer.</h4>
              
            <h4 class="h6">Send your money with a bank transfer, Bitcoin, or a debit or credit card.</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-4 mt-9">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure id="icon23" class="ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265706/svg/icons/icon-23.svg" alt=""
                   data-parent="#icon23">
            </figure>
            <h4 class="h4">That's all there is, done.</h4>
              
            <h4 class="h6">We’ll handle it from here. track your transfer progress in your account, and we'll tell the receiver it's coming.</h4>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks Section -->
        
<div class="text-center mx-auto mb-6">    
  <div class="mb-5 mt-4">
   
      <!-- Fancybox -->  
      <a class="js-fancybox" href="javascript:;"
           data-src="//youtube.com/j8uxIKcxArA"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Elektropay - Personal Accounts">
          <span class="fas fa-play-circle align-middle text-primary font-size-3 mr-2"></span>
          See how your info is protected
        </a>
      <!-- End Fancybox -->
    <a class="btn btn-primary btn-wide btn-pill transition-3d-hover" href="/signup/personal">Get Started Now</a>
      
  </div>
    </div>
</div>
    <!-- End How To Section -->



    <!-- Testimonials Section -->
    <div class="border-top">
      <div class="container space-2 space-top-lg-3">
        <!-- Title -->
        <div class="w-lg-50 mb-9">
          <h2 class="font-weight-medium">Loved by most across the globe.</h2>
        </div>
        <!-- End Title -->

        <!-- Testimonials -->
        <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
          <!-- Testimonials -->
          <div class="card bg-transparent border-0">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="mb-0">With ElektroPay, you can check out across the web and in apps without having to enter any payment information.</p>
              </div>
            </div>

            <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="/assets/img/100x100/img2.jpg" alt="">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Maria Muszynska</h4>
                  <small class="d-block text-secondary">Business Manager</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->

          <!-- Testimonials -->
          <div class="card border-0 bg-primary text-white shadow-primary-lg">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="text-white mb-0">From boarding passes to transit and movie tickets, there's pretty much nothing you can't store with Front Pay.</p>
              </div>
            </div>

            <div class="card-footer border-0 bg-primary text-white pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="/assets/img/100x100/img11.jpg" alt="">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Massalha Shady</h4>
                  <small class="d-block text-light">CEO at Slack</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->

          <!-- Testimonials -->
          <div class="card bg-transparent border-0">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="mb-0">I love ElektroPay for cash back, reward points and fraud protection – just like when you're swiping your card.</p>
              </div>
            </div>

            <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="/assets/img/100x100/img4.jpg" alt="">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Mark McManus</h4>
                  <small class="d-block text-secondary">ElektroPay user</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
        </div>
        <!-- End Testimonials -->
      </div>
    </div>
    <!-- End Testimonials Section -->


   
