
            <!-- Pricing-->
            <section class="module bg-gray p-t-0 p-b-40">
                <div class="container">
                    <div class="space" data-MY="-60px"></div>
                    <div class="row">
                        <div class="col-md-4 pricing-wrapper">
                            <div class="pricing-header">
                                <div class="pricing-icon"><i class="ti-slice"></i></div>
                                <div class="pricing-title">Starter</div>
                            </div>
                            <div class="pricing-price">Free
                            </div>
                            <div class="pricing-body">
                                <p>Map where your photos<br>were taken and discover local<br>points of interest.</p>
                            </div>
                            <div class="pricing-footer"><a class="btn btn-circle btn-brand" href="#">Download</a></div>
                        </div>
                        <div class="col-md-4 pricing-wrapper pricing-popular">
                            <div class="pricing-header">
                                <div class="pricing-icon"><i class="ti-pin-alt"></i></div>
                                <div class="pricing-title">Standard</div>
                            </div>
                            <div class="pricing-price"><span>$</span>45
                            </div>
                            <div class="pricing-body">
                                <p>Map where your photos<br>were taken and discover local<br>points of interest.</p>
                            </div>
                            <div class="pricing-footer"><a class="btn btn-circle btn-brand" href="#">Download</a></div>
                        </div>
                        <div class="col-md-4 pricing-wrapper pricing-popular">
                            <div class="pricing-header">
                                <div class="pricing-icon"><i class="ti-marker-alt"></i></div>
                                <div class="pricing-title">Professional</div>
                            </div>
                            <div class="pricing-price"><span>$</span>69
                            </div>
                            <div class="pricing-body">
                                <p>Map where your photos<br>were taken and discover local<br>points of interest.</p>
                            </div>
                            <div class="pricing-footer"><a class="btn btn-circle btn-brand" href="#">Download</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="20px"></div>
                        </div>
                    </div>
                    
                </div>
            </section>
