<!-- Blog News Section -->
    <div class="d-none gradient-half-primary-v2">
      <div class="container space-2 space-md-3 px-lg-7">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <h2>Read our latest news</h2>
          <p>Our duty towards you is to share our experience we're reaching in our work path with you.</p>
        </div>
        <!-- End Title -->

        <!-- News Carousel -->
        <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3"
             data-slides-show="3"
             data-slides-scroll="1"
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow u-slick__arrow--offset u-slick__arrow-centered--y rounded-circle"
             data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left"
             data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right"
             data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
             }, {
               "breakpoint": 554,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <!-- Blog News -->
            
      {% for post in paginator.posts %}
          <a class="js-slide bg-img-hero gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" href="{{ post.url }}" style="background-image: url({% include picture_logic.html %});">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">{{ post.title }}</h3>
                <p class="card-text">
              {% if post.description %} {{ post.description }} {% else %} {{ post.excerpt | strip_html | strip_newlines | escape }} {% endif %}
            </p>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">Neyton Burchie</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="/assets/img/100x100/img3.jpg" alt="">
                </div>
                <div class="card-subtitle text-muted">
              {{ post.date | date: "%b %-d, %Y" }}
            </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->

      {% endfor %}
         
        </div>
        <!-- End News Carousel -->
      </div>
    </div>
    <!-- End Blog News Section -->
