<section class="module">

<div class="container p-t-60 p-b-40">
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <div class="space" data-MY="20px"></div>
                            <h3> Most Common Questions</h3>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="40px"></div>
                        </div>
                    </div>

      <!-- FAQ -->
        <div class="row">
          <div class="col-md-6 mb-5">
            <div class="pr-md-4">
              <h3 class="h6">Can I cancel at anytime?</h3>
              <p>Yes, you can cancel anytime no questions are asked while you cancel but we would highly appreciate if you will give us some feedback.</p>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <div class="pl-md-4">
              <h3 class="h6">My company has credits. How do we use them?</h3>
              <p>Once your team signs up for a subscription plan. This is where we sit down, grab a cup of coffee and dial in the details.</p>
            </div>
          </div>

         <div class="space" data-MY="20px"></div>

          <div class="col-md-6 mb-5">
            <div class="pr-md-4">
              <h3 class="h6">How does Elektropay's pricing work?</h3>
              <p>Our subscriptions are tiered. Understanding the task at hand and ironing out the wrinkles is key.</p>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <div class="pl-md-4">
              <h3 class="h6">How secure is Elektropay?</h3>
              <p>Protecting the data you trust to Front is our first priority. This part is really crucial in keeping the project in line to completion.</p>
            </div>
          </div>

           <div class="space" data-MY="20px"></div>

          <div class="col-md-6 mb-5 mb-md-0">
            <div class="pr-md-4">
              <h3 class="h6">Do you offer discounts?</h3>
              <p>We've built in discounts at each tier for teams. The time has come to bring those ideas and plans to life.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pl-md-4">
              <h3 class="h6">What is your refund policy?</h3>
              <p>We offer refunds. We aim high at being focused on building relationships with our clients and community.</p>
            </div>
          </div>
          
                            <div class="space" data-MY="60px"></div>
        </div>
        
      </div>
      <!-- End FAQ -->
</section>
