<!-- Services-->
            <section class="module bg-gray p-t-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 m-auto">
                            <div class="space" data-MY="-65px"></div>
                            <p>
                            <figure class="ie-devices-v4-laptop mb-3 mb-sm-0">
                <img class="js-svg-injector" src=".https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265683/svg/components/laptop.svg" alt="Image Description"
                     data-img-paths='[
                       {"targetId": "#SVGlaptopImg1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1557224775/img/products.jpg"}
                     ]'
                     data-parent="#SVGHero">
              </figure>
              <!-- SVG Laptop Mockup -->
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="40px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-layout"></span></div>
                                <div class="icon-box-title">
                                    <h6>Visual Composer</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="services-1.html#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-cup"></span></div>
                                <div class="icon-box-title">
                                    <h6>Revolution Slider</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-harddrives"></span></div>
                                <div class="icon-box-title">
                                    <h6>User Experience</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-desktop"></span></div>
                                <div class="icon-box-title">
                                    <h6>Fully Responsive</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="/#">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services end-->
