<!-- Services-->
            <section class="module p-t-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 m-auto">
                            <div class="space" data-MY="40px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-left">
                                <div class="icon-box-title">
                                    <h6><a href="/#"><span class="far fa-credit-card"></span>Pyaments</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                          <div class="icon-box text-left">
                                <div class="icon-box-title">
                                    <h6><a href="/#"><span class="fas fa-shopping-cart"></span> Marketplace</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="icon-box text-left">
                                <div class="icon-box-title">
                                    <h6><a href="/#"><span class="fas fa-money-check"></span> Payouts</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="icon-box text-left">
                                <div class="icon-box-title">
                                    <h6><a href="/#"><span class="fas fa-code-branch"></span> Authy</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services end-->
