<!-- Services-->
            <section class="module p-t-0 p-b-0 nav-shadow">
                <div class="container">
                    <div class="row bg-white">
                                  <!-- Nav Classic -->
  <div class="position-relative text-center z-index-2 m-auto w-100">
    <ul class="nav nav-classic nav-rounded nav-justified" id="pills-tab" role="tablist">
     
                <li class="nav-item">
        <a class="nav-link font-weight-medium active" id="pills-payments1-tab" data-toggle="pill" href="#pills-payments1" role="tab" aria-controls="pills-payments1" aria-selected="true">
          <div class="d-md-flex justify-content-md-center align-items-md-center">
                      <span>
            <figure class="ie-height-40 d-md-block w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265711/svg/icons/icon-39.svg" alt=""
                   data-parent="#SVGmockupBg">
                      </figure>
                      </span>
                      <span>ElektroPay</span>
          </div>
        </a>
      </li>
      
                <li class="nav-item">
        <a class="nav-link font-weight-medium" id="pills-marketplace-tab" data-toggle="pill" href="#pills-marketplace" role="tab" aria-controls="pills-marketplace"aria-selected="false">
          <div class="d-md-flex justify-content-md-center align-items-md-center">
           <span>
                       <figure class="ie-height-40 d-md-block w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265718/svg/icons/icon-58.svg" alt=""
                   data-parent="#SVGmockupBg">
            </figure>
                      </span>
                      <span>Open Market</span>
          </div>
        </a>
      </li>
      
                <li class="nav-item">
        <a class="nav-link font-weight-medium" id="pills-payouts-tab" data-toggle="pill" href="#pills-payouts" role="tab" aria-controls="pills-payouts" aria-selected="false">
          <div class="d-md-flex justify-content-md-center align-items-md-center">
            <figure class="ie-height-40 d-md-block w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265708/svg/icons/icon-31.svg" alt=""
                   data-parent="#SVGmockupBg">
                      </figure></span>
                    <span>
                                BillFold </span>
          </div>
        </a>
      </li>
          
             <li class="nav-item">
        <a class="nav-link font-weight-medium" id="pills-authie-tab" data-toggle="pill" href="#pills-authie" role="tab" aria-controls="pills-authie" aria-selected="false">
          <div class="d-md-flex justify-content-md-center align-items-md-center">
            <span><figure class="ie-height-40 d-md-block w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265708/svg/icons/icon-31.svg" alt=""
                   data-parent="#SVGmockupBg">
                        </figure>
                      </span>
                      <span>Authie </span>
          </div>
        </a>
      </li>            
    </ul>
  </div>
  <!-- End Nav -->
                        
                    </div>
                </div>
            </section>
            <!-- products Nav end-->

<!-- Tab Content -->
  <div class="tab-content" id="pills-tabContent">
<section class="module p-t-0 p-b-0">
                <div class="container">
                    <div class="row">
    <div class="tab-pane fade pt-9 show active" id="pills-payments1" role="tabpanel" aria-labelledby="pills-payments1-tab">
      <!-- Mockup Block -->
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 font-weight-semi-bold">Set your priorities and align your teams</h3>
            <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
          </div>

          <ul class="list-unstyled text-secondary font-size-1">
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Understanding who you are
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Whether it's branding, print, UI + UX
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                We've got your front end and back end needs covered
              </span>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow rounded" src="../../assets/img/700x525/img1.jpg" alt="">
          </div>

          <!-- SVG Component -->
          <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
            <figure class="ie-abstract-shapes-2">
              <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-2.svg" alt=""
                   data-parent="#SVGmockupBg">
            </figure>
          </div>
          <!-- End SVG Component -->
        </div>
      </div>
      <!-- End Mockup Block -->
    </div>
    <div class="tab-pane fade pt-9" id="pills-marketplace" role="tabpanel" aria-labelledby="pills-marketplace-tab">
      <!-- Mockup Block -->
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 font-weight-semi-bold">Focus on achieving measurable outcomes</h3>
            <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
          </div>

          <ul class="list-unstyled text-secondary font-size-1">
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                We aim high at being focused on building relationships
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Working together on the daily requires each individual
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                It's important to stay detail oriented with every project we tackle
              </span>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow-sm rounded" src="../../assets/img/700x525/img2.jpg" alt="I">
          </div>

          <!-- SVG Component -->
          <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
            <figure class="ie-abstract-shapes-4">
              <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-4.svg" alt=""
                   data-parent="#SVGmockupBg">
            </figure>
          </div>
          <!-- End SVG Component -->
        </div>
      </div>
      <!-- End Mockup Block -->
    </div>
    <div class="tab-pane fade pt-9" id="pills-payouts" role="tabpanel" aria-labelledby="pills-payouts-tab">
      <!-- Mockup Block -->
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 font-weight-semi-bold">Review performance and improve strategy</h3>
            <p>The time has come to bring those ideas and plans to life.</p>
          </div>

          <ul class="list-unstyled text-secondary font-size-1">
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Whether through commerce or just an experience
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Now that your brand is all dressed up
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                This part is really crucial in keeping the project
              </span>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow-sm rounded" src="../../assets/img/700x525/img3.jpg" alt="">
          </div>

          <!-- SVG Component -->
          <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
            <figure class="ie-abstract-shapes-3">
              <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-3.svg" alt=""
                   data-parent="#SVGmockupBg">
            </figure>
          </div>
          <!-- End SVG Component -->
        </div>
      </div>
      <!-- End Mockup Block -->
                <div class="tab-pane fade pt-9" id="pills-authie" role="tabpanel" aria-labelledby="pills-authie-tab">
      <!-- Mockup Block -->
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mb-9 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h3 class="h4 font-weight-semi-bold">Review performance and improve strategy</h3>
            <p>The time has come to bring those ideas and plans to life.</p>
          </div>

          <ul class="list-unstyled text-secondary font-size-1">
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Whether through commerce or just an experience
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                Now that your brand is all dressed up
              </span>
            </li>
            <li class="media my-3">
              <span class="fas fa-check text-primary mt-1 mr-3"></span>
              <span class="media-body">
                This part is really crucial in keeping the project
              </span>
            </li>
          </ul>
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative">
          <div class="pl-md-9">
            <img class="img-fluid shadow-sm rounded" src="../../assets/img/700x525/img3.jpg" alt="">
          </div>

          <!-- SVG Component -->
          <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
            <figure class="ie-abstract-shapes-3">
              <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-3.svg" alt=""
                   data-parent="#SVGmockupBg">
            </figure>
          </div>
          <!-- End SVG Component -->
        </div>
      </div>
      <!-- End Mockup Block -->
    </div>
  </div>
  <!-- End Tab Content -->

                    </div>
                </div>
            </section>
