<div id="SVGCTA" class="position-relative" style="">
      <div class="container space-2">
        <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h3 class="h2 text-white font-weight-semi-bold mb-0">Create better experiences with Front Pay</h3>
          </div>

          <div class="col-lg-5 text-lg-right">
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mr-3" href="https://apply.elektropay.com/">Get Started</a>
            <a class="btn btn-white btn-wide btn-pill text-primary shadow-soft transition-3d-hover" href="https://elektropay.com/sandbox/">Learn More</a>
          </div>
        </div>
      </div>

      <!-- SVG Top Shape -->
      <div class="gradient-overlay-half-primary-v3 position-absolute top-0 right-0 bottom-0 left-0 z-index-n1 overflow-hidden">
        <figure class="ie-circles-cta">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 847" style="enable-background:new 0 0 1920 847;" xml:space="preserve" class="injected-svg js-svg-injector d-none d-md-block" data-parent="#SVGCTA">
<style type="text/css">
	.circles-0{fill:#1818EF;}
	.circles-1{fill:#1919CC;}
	.circles-2{fill:#A612DD;}
</style>
<g>
	<defs>
		<polygon id="CirclesSVGID1" points="0,0 0,847 1920,509 1920,0"></polygon>
	</defs>
	<clipPath id="CirclesSVGID2">
		<use xlink:href="#CirclesSVGID1" style="overflow:visible;"></use>
	</clipPath>
	<circle class="circles-0" opacity=".1" clip-path="url(#CirclesSVGID2)" cx="1585.5" cy="773.5" r="859"></circle>
	<circle class="circles-2" opacity=".1" clip-path="url(#CirclesSVGID2)" cx="1430.5" cy="862.5" r="700"></circle>
	<circle class="circles-0" opacity=".1" clip-path="url(#CirclesSVGID2)" cx="436.5" cy="761.5" r="915"></circle>
	<circle class="circles-1" opacity=".1" clip-path="url(#CirclesSVGID2)" cx="408.7" cy="981.5" r="821"></circle>
</g>
</svg>
        </figure>
      </div>
      <!-- End SVG Top Shape -->
    </div>
<section class="module bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h2>Create Something Great</h2>
                            <p class="lead">Developers find out how to get credentials, build a test project, and also connect to the Sandbox.</p>
                       
                          <div class="row m-t-40">
                             <div class="col-md-12 text-center">
                               
                            <div class="cta-btn m-auto">
                              <a class="btn btn-circle btn-outline-primary text-center" href="//dev.elektropay.com/">Learn More</a> 
                           &nbsp;&nbsp;
                              <a class="btn btn-circle btn-outline-brand text-center" href="//dev.elektropay.com/signup">Get Credentials</a> 
                          </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </div>
            </section>
