
<section class="module bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h2>Create Something Great</h2>
                            <p class="lead">Find out how to get credentials, build a test project, and connect to the Sandbox.</p>
                       
                          <div class="row">
                             <div class="col-md-12 text-center">
                               
                            <div class="cta-btn m-auto">
                              <a class="btn btn-circle btn-outline-primary text-center" href="//dev.elektropay.com/">Learn More</a> 
                           &nbsp;&nbsp;
                              <a class="btn btn-circle btn-outline-brand text-center" href="//dev.elektropay.com/signup">Get Credentials</a> 
                          </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </div>
            </section>
