<div id="SVGCTA" class="position-relative" style="">
      <div class="container pt-6">
        <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left pb-6">
          <div class="col-lg-5 mb-2 mt-2 mb-lg-0">
            <h4 class="h3 font-weight-semi-bold mb-0">Create A Sandbox account</h4>
          </div>

          <div class="col-lg-5 text-lg-right">
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mr-3" href="https://apply.elektropay.com/">Get Started</a>
            <a class="btn btn-white btn-wide btn-pill text-primary shadow-soft transition-3d-hover" href="https://elektropay.com/sandbox/">Learn More</a>
          </div>
        </div>
      </div>

      <!-- SVG Top Shape -->
      <div class="gradient-overlay-half-primary-v3 position-absolute top-0 right-0 bottom-0 left-0 z-index-n1 overflow-hidden">
     <figure class="ie-circles-cta">
          <img class="js-svg-injector d-none d-md-block" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1562819678/svg/components/circles.svg" alt=""
               data-parent="#SVGCTA">
        </figure>
        </figure>
      </div>
      <!-- End SVG Top Shape -->
    </div>
