<!doctype html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#2eb83c">
    <meta name="apple-mobile-web-app-title" content="Elektropay">
    <meta name="application-name" content="Elektropay">
    <meta name="theme-color" content="#ffffff">
    <!-- Fonts  -->
<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/a97ca672/a97ca672.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/> 
<link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/fonts/simple-line-icons/simple-line-icons.css"/>
<link rel="stylesheet" href="/css/lib/prism.css"/> 
<link rel="stylesheet" href="//cdn.everpayinc.com/css/animate.css"/>
<link rel="stylesheet" href="//cdn.everpayinc.com/css/YTPlayer.css"/>
<link rel="stylesheet" href="https://cdn.everpayinc.com/elektropay/assets/css/elektropay-v1.0.css"/>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style>
        
  </head>
<body class="page-loaded" style="">
    
<div class="wrapper">
  
    <header class="hidden" id="header">
      <div class="contained">
        <a href="/" class="logo"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497453042/elektropay/assets/img/logo.png"/></a>
        <a href="/" class="btn-secondary small"><img src="/img/github.svg"/> Fork me on GitHub</a>
      </div>
    </header>
  
<header id="header">    
<div class="navbar">
<div class="header clearfix">
<div class="toggle">
<div class="toggle-bar"></div>
<div class="toggle-bar"></div>
<div class="toggle-bar"></div>
</div>
<a class="logo" href="/"><img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497453042/elektropay/assets/img/logo.png" alt="Logo" /></a>
<ul class="links">
      
<li><a class="nav-item" href="features/">Features</a></li>
<li><a class="nav-item" href="integrations/">Integrations</a></li>
<li><a class="nav-item" href="pricing/">Pricing</a></li>
      
<li class="dropdown nav-item hidden">
<a class="dropdown-toggle"  data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" aria-expanded="false" href="javascript:void(0);">
Customers
</a>
<ul class="dropdown-menu">
<li><a href="customers/startups_and_tech">Startups &amp; Technology Companies</a></li>
<li><a href="customers/sales_and_account_management">Sales &amp; Account Management</a></li>
<li><a href="customers/customer_service">Customer Service &amp; Client Success</a></li>
<li><a href="customers/business_consultants">Business Consultants &amp; Coaches</a></li>
<li><a href="customers/freelancers">Solopreneurs &amp; Freelancers</a></li>
<li><a href="customers/financial_services">Financial Services</a></li>
<li><a href="customers/small_businesses">Busy Professionals</a></li>
<li><a href="customers/retail_locations">Retail Locations</a></li>
</ul>
</li>
      
<li class="dropdown nav-item">
<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" aria-expanded="false" href="javascript:void(0);">
Company
</a>
<ul class="dropdown-menu">
<li><a href="company/about/">Meet The Team</a></li>
<li><a href="company/press">Press Releases</a></li>
<li><a href="company/careers/">Jobs &amp; Careers</a></li>
<li><a href="https://blog.elektropay.com/">Elektro_lyte Blog</a></li>
</ul>
</li>
      
<li><a class="" href="contact">Contact</a></li>

<li class="mobile-off"><a href="#" data-toggle="modal" data-target="#at-login" class="btn-nav-primary" id="btn-login" >Log In</a></li>     
<li class="mobile-off"><a href="#" data-toggle="modal" data-target="#at-signup" class="last btn-nav-secondary" data-section="navbar">Sign Up&nbsp; </a></li>
      
<li class="account-options desktop-off">
<div class="row">
<div class="col1of2"><a href="#" data-toggle="modal" data-target="#at-login" class="btn-nav-primary" id="btn-login">Log In</a></div>
<div class="col1of2"><a href="#" data-toggle="modal" data-target="#at-signup" class="btn-nav-secondary" data-section="navbar">Sign Up &nbsp;</a></div>
</div>
</li>
     
</ul>
</div>
</div>
   </header>
