<body class="bg-img-hero-fixed" style="background-image: url(/assets/svg/illustrations/error-404.svg);" data-gr-c-s-loaded="true">
  <!-- ========== HEADER ========== -->

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="d-lg-flex">
      <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-4">
        <div class="w-lg-60 w-xl-50">
          <!-- Title -->
          <div class="mb-5">
            <h1 class="text-primary font-weight-normal">Page not <span class="font-weight-semi-bold">found</span></h1>
            <p class="mb-0">      {{ content }}</p>
            <p>If you think this is a problem with us, please <a href="#">tell us</a>.</p>
          </div>
          <!-- End Title -->

          <a class="btn btn-primary btn-wide transition-3d-hover" href="">Go Back</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
 
  <!-- ========== END FOOTER ========== -->


</div>        
        
  
