---
layout: default
---
<style>
.header{
    display: none;
}
.footer{
    display: none;
}
</style>
<section class="module-cover parallax text-center fullscreen" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1557213442/svg/illustrations/error-404.svg" data-overlay="0">
    <div class="container"> 
      
        
      <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center"> 
                            
        <div class="space" data-my="100px" style="margin-top: 100px;"></div>  
            <h1 class="m-t-3"><strong>Page not <span class="">found</strong></span></h1>
                            <p class="lead">{{ content }}</p>
                        </div>
                    </div>  
  </div>
  
  
</section>
