---
layout: default
---
<style>
.header{
    display: none;
}
.footer{
    display: none;
}
</style>
<section class="module" data-background="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1557213442/svg/illustrations/error-404.svg" data-overlay="0">
    <div class="container"> 
      
                      <div class="space" data-my="80px" style="margin-top: 80px;">
      <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">   
            <h1 class="m-t-3"><strong>Page not <span class="">found</strong></span></h1>
                            <p class="lead">{{ content }}</p>
                        </div>
                    </div>  
  </div>
  
  
</section>
