---
layout: default
---

{% include jumbrotron-contact.html %}

<section class="module">
 <div class="container">
<div class="row">
  <div class="col-md-6 m-auto text-center p-b-1">
  <h1>Looking for something specific?</h1>
    <div class="space" data-my="60px" style="margin-top: 60px;"></div>
  </div>
 </div>

</div>
</section>
<!-- Services-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-email"></span></div>
                                <div class="icon-box-title">
                                    <h6>{{ content }}</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="contact-1.html#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-wallet"></span></div>
                                <div class="icon-box-title">
                                    <h6>Commercial</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="contact-1.html#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-headphone-alt"></span></div>
                                <div class="icon-box-title">
                                    <h6>Support</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="contact-1.html#">Read more</a></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="ti-map-alt"></span></div>
                                <div class="icon-box-title">
                                    <h6>Visit our office</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
                                </div>
                                <div class="icon-box-link"><a href="contact-1.html#">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% include contact-form.html %}

<section class="maps-container">
<div class="map" data-addresses="[48.859822, 2.352647]" data-info="[Visit Us]" data-icon="//static.elektropay.com/assets/img/map-icon.png" data-zoom="15"></div>
</section>
  
