---
layout: default
---

  {% include page-intro.html %}
<!-- <div class="owl-carousel clients-carousel" data-carousel-options="{'false': false}">
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/1.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/2.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/3.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/4.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/5.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/6.png" alt=""></div>
   <div class="client"><img src="https://static.elektropay.com/assets/img/clients/7.png" alt=""></div>
</div>-->

<section class="module">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6"><img src="https://static.elektropay.com/assets/img/main/ipad.png" alt=""></div>
                        <div class="col-lg-5 offset-lg-1">
                            <h2>Scalable Commerce</h2>
                            <p class="lead">{{ content }}</p>
                            <div class="space" data-my="50px" style="margin-top: 50px;"></div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-icon"><span class="icon-layout"></span></div>
                                <div class="icon-box-title">
                                    <h6>Visual Composer</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-icon"><span class="icon-cup"></span></div>
                                <div class="icon-box-title">
                                    <h6>Revolution Slider</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-left">
                                <div class="icon-box-icon"><span class="icon-hard-drives"></span></div>
                                <div class="icon-box-title">
                                    <h6>User Experience</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



<section class="module bg-dark">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 ">
                            <h2>Developer Friendly</h2>
                            <p class="lead">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
                            <div class="space" data-my="50px" style="margin-top: 50px;"></div>
                            <div class="">
                              <a class="btn btn-circle btn-light" href="//docs.elektropay.com">Read Our Docs</a>
                            </div>                         
                        </div>
                  
                         <div class="col-lg-5 offset-lg-1">
                          <pre class="ac"><span>1</span> <span>goElektro</span> “who where the last 3 customers?”
<span>2</span>
<span>3</span>  {
<span>4</span>    "Dave": {
<span>5</span>      "fullName": "Dave Gamache",
<span>6</span>      "twitterHandle": "@dhg",
<span>7</span>    }
<span>8</span>    "Mark": {
<span>9</span>      "fullName": "Mark Otto",
<span>10</span>      "twitterHandle": "@mdo",
<span>11</span>    }
<span>12</span>    "Jacob": {
<span>13</span>      "fullName": "Jacob Thornton",
<span>14</span>      "twitterHandle": "@fat",
<span>15</span>    }
<span>16</span>  }</pre>                      
                      </div>    
                      
                    </div>
                 </div>
</section>

   <!-- <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 m-auto text-center">
                            <h1>Latest Articles</h1>
                            <p class="lead">See how your users experience elektropay in realtime or view trends to see any changes in performance and savings over time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-my="60px" style="margin-top: 60px;"></div>
                        </div>
                    </div>

<div class="row row-post-masonry" style="position: relative; height: 497.484px;">
      {% for post in site.posts limit:3 %} 
  <div class="col-md-4 post-item" style="position: absolute; top: 0px;">

<article class="post">
   <div class="post-preview"><a href="{{ post.url }}"><img src="https://static.elektropay.com/assets/img/blog/1.jpg" alt=""></a></div>
                                <div class="post-wrapper">
                                    <div class="post-header">
                                        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                    </div>
                                    <div class="post-content">
                                        <p>.</p>
                                        <p><a href="{{ post.url }}">Read more</a></p>
                                    </div>
                                </div> 
</article>

   </div>
      {% endfor %}
</div>
                </div>
            </section> --->

   <!-- Testimonials-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="50px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="review-slides owl-carousel">
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>I don't work from drawings. I don't make sketches and drawings <br/> and color sketches into a final painting.</p>
                                            <footer class="blockquote-footer">Albert Einstein</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>To be yourself in a world that is constantly trying to make you <br/> something else is the greatest accomplishment.</p>
                                            <footer class="blockquote-footer">Ralph Waldo Emerson</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="review-icons"><img src="https://static.elektropay.com/assets/img/avatar/1.jpg" alt="">
                                    </div>
                                    <div class="review-content">
                                        <blockquote>
                                            <p>Imperfection is beauty, madness is genius and it's better to be <br/> absolutely ridiculous than absolutely boring.</p>
                                            <footer class="blockquote-footer">Marilyn Monroe</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="25px"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials end-->

    <!-- Counters-->
            <section class="module no-gutter3 p-0">
                <div class="container">
                   <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-MY="25px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="counter-icon"><span class="icon-energy icons"></span></div>
                                <div class="counter-number">
                                    <h6><strong class="counter-timer" data-from="0" data-to="1538">0</strong></h6>
                                </div>
                                <div class="counter-title">Happy Clients</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="counter-icon"><span class="icon-game-controller icons"></span></div>
                                <div class="counter-number">
                                    <h6><strong class="counter-timer" data-from="0" data-to="2124">0</strong></h6>
                                </div>
                                <div class="counter-title">Total downloads</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="counter-icon"><span class="icon-fire icons"></span></div>
                                <div class="counter-number">
                                    <h6><strong class="counter-timer" data-from="0" data-to="3128">0</strong></h6>
                                </div>
                                <div class="counter-title">Awards Won</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="counter">
                                <div class="counter-icon"><span class="icon-diamond icons"></span></div>
                                <div class="counter-number">
                                    <h6><strong class="counter-timer" data-from="0" data-to="9534">0</strong></h6>
                                </div>
                                <div class="counter-title">Products Sold</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Counters end-->

<section class="module">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696709/elektropay/assets/img/landing/payments.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>Visual Composer</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696709/elektropay/assets/img/landing/secureconnections.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>Revolution Slider</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696709/elektropay/assets/img/landing/turnaround.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>User Experience</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696709/elektropay/assets/img/landing/mobileapps.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>Mobile Support</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696710/elektropay/assets/img/landing/startup-9.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>Great Support</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="icon-box">
                                <div class="icon-box-icon"><span class="m-auto"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1556696709/elektropay/assets/img/landing/richreporting.svg"></span></div>
                                <div class="icon-box-title text-center">
                                    <h6>Accounting Integrations</h6>
                                </div>
                                <div class="icon-box-content">
                                    <p>See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Integrations-->
            <section class="module no-gutters p-b-0">
                <div class="container">
                   <div class="row">
                        <div class="col-md-6 m-auto text-center p-0">
                            <h1>Integrations</h1>
                            <p class="lead">Sample our vast libraries of our payments and techonolgy partner integrations.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-auto text-center"><img class="m-auto" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1457411329/processors-logos_gcvss0.png" alt=""></div>
                    </div>
                </div>
            </section>
            <!-- Image end-->

<section class="module bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 m-auto text-center">
                            <h2>Streamline Your Bottom line </h2>
                            <p class="lead">See how our users experience faster payment responses and super scalability, without the extra costs or headaches.</p>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="demo-btn m-auto">
                              <a class="btn btn-circle btn-brand" href="/">Get Started</a> 
                          </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </div>
            </section>
