---
layout: default
---

  {% include page-intro.html %}

  {{ content }}

<section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 m-auto text-center">
                            <h1>Latest articles.</h1>
                            <p class="lead">See how your users experience elektropay in realtime or view trends to see any changes in performance and savings over time.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="space" data-my="60px" style="margin-top: 60px;"></div>
                        </div>
                    </div>
<div class="row row-post-masonry" style="position: relative; height: 497.484px;">
      {% for post in site.posts limit:3 %} 
  <div class="col-md-4 post-item" style="position: absolute; top: 0px;">
<article class="post">
   <div class="post-preview"><a href="{{ post.url }}"><img src="https://static.elektropay.com/assets/images/blog/1.jpg" alt=""></a></div>
                                <div class="post-wrapper">
                                    <div class="post-header">
                                        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                    </div>
                                    <div class="post-content">
                                        <p>.</p>
                                        <p><a href="{{ post.url }}">Read more</a></p>
                                    </div>
                                </div> 
</article>
   <!-- Post end-->
   </div>
      {% endfor %}
</div>
                </div>
            </section>


    

