---
layout: default
---
<style>
.d-lg-block {
    display: block !important;
}
    
@media (min-width: 992px){
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
    }}
.mb-11, .my-11 {
    margin-bottom: 5rem !important;
}
.mb-6, .my-6 {
    margin-bottom: 2.5rem !important;
}
.gradient-overlay-half-primary-v3::before {
    background-image: linear-gradient(90deg, #f5fdff 0%, #9ad0e1 100%);
    background-repeat: repeat-x;
}    
@media (min-width: 768px){
.space-md-4, .space-top-md-4 {
    padding-top: 12.5rem !important;
}}
    
.space-3, .space-bottom-3 {
    padding-bottom: 8rem !important;
}
.space-2, .space-top-2 {
    padding-top: 4rem !important;
}
svg {
    margin-bottom: -0.4375rem;
    vertical-align: baseline;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
    
figure {
    margin-bottom: 0;
}
figure {
    margin: 0 0 1rem;
}
.position-relative {
    position: relative !important;
}
.overflow-hidden {
    overflow: hidden !important;
}

.bg-elektro {
    background-color: #9ad0e1 !important;
}    
.z-index-2 {
    z-index: 2;
}
@media (min-width: 768px){
.space-md-4, .space-top-md-4 {
    padding-top: 12.5rem !important;
   }}
.space-3, .space-bottom-3 {
    padding-bottom: 8rem !important;
}
.space-2, .space-top-2 {
    padding-top: 12.25rem !important;
}
.position-relative {
    position: relative !important;
}   
.align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
   
.mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
}

.mb-11, .my-11 {
    margin-bottom: 5rem !important;
}
.btn[href] {
    cursor: pointer;
}
.transition-3d-hover {
    transition: all 0.2s ease-in-out;
}
.shadow-soft {
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
}
.btn-pill {
    border-radius: 6.1875rem;
}
.btn-wide {
    min-width: 9.6875rem;
}

@media (min-width: 576px){
.mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important;
    }}
 .mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
}
 
.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 2rem !important;
}  
.text-lg-left {
    text-align: left !important;
}
.text-lg-right {
    text-align: right !important;
}    
.text-center {
    text-align: center !important;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #1e2022;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: all 0.2s ease-in-out;
}
    
.btn-white {
    color: #1e2022;
    background-color: #fff!important;
    border-color: #fff;
}
.bg-white {
    background-color:#fff!important;
}

.text-primary {
    color: #72a3fd !important;
}
.btn-pill {
    border-radius: 6.1875rem;
}
.btn-wide {
    min-width: 9.6875rem;
}
    
@media (min-width: 576px){
.mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important;
   }}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.btn-indigo {
    color: #fff;
    background-color: #2d1582;
    border-color: #2d1582;
}   
.text-white-70 {
    color: rgba(255, 255, 255, 0.7);
}
   
 .font-weight-semi-bold {
    font-weight: 600 !important;
}
.text-white {
    color: #fff !important;
}
   
.text-indigo {
    color: #2d1582 !important;
}
.gradient-overlay-half-primary-v3::before {
    background-image: linear-gradient(90deg, #f5fdff 0%, #9ad0e1 100%);
    background-repeat: repeat-x;
}
[class*="gradient-overlay-half"]::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
}    
    
.z-index-n1 {
    z-index: -1;
} 
.svg-divider-polygon {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 95%);
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
[class*="gradient-overlay-half"] {
    position: relative;
    z-index: 1;
}
.position-absolute {
    position: absolute !important;
}
.gradient-overlay-half-primary-v3::before {
    background-image: linear-gradient(90deg, #f5fdff 0%, #9ad0e1 100%)!important;
    background-repeat: repeat-x;
}   
</style>

{% include jumbrotron-front.html %}

{% include page-intro.html %}

<!-- {% include developers-front.html %}-->


<!-- <div class="hidden">
{{ content }}
</div>-->





   
{% include sandbox-cta.html %}
