---
layout: default
---

<!-- Services-->
            <section class="module">
                <div class="container">
              <div class="row">
  <div class="col-md-9 m-auto text-center p-b-0">
  <h1>ElektroTest It All</h1>
    <div class="space" data-my="100px" style="margin-top: 100px;"></div>
  </div>
 </div>
          <div class="row p-b-0">
<div class="col-lg-3 col-md-6">
<div class="card">
                           <a href="/" class="">
                            <div class="icon-box text-center card-body">
                                <div class="icon-box-icon card-img-top"><span class="fas fa-users"></span></div>
                                <div class="icon-box-title">
                                    <h5>{{ content }}</h5>
                                </div>
                                <div class="icon-box-content">
                                   <p class="text-lg-left">
          Entering our sandbox allows you to get a feel for the Elektropay experience before applying for a merchant account or going to production. <br><br>Already in the sandbox? <a href="https://sandbox.braintreegateway.com/login" class="link link--inline">Sign in</a>.
        </p>
                                </div>
                                <div class="icon-box-link"></div></a>
                            </div>
</div>
</div>                                    
<div class="col-lg-3 col-md-6">
            <div class="card">
                            <a class="" href="/">
                             <div class="icon-box text-center">
                                <div class="icon-box-icon"><span class="far fa-envelope"></span></div>
                                <div class="icon-box-title">
                                    <h5>Paid Support</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>Looking for that little bit more support than using the regular channels?  </p>
                                </div>
                                <div class="icon-box-link"></div></a>
                            </div>
              </div>
</div> 
                        <div class="col-lg-3 col-md-6 ">
<div class="card">
                            <a class="" href="/"><div class="icon-box text-center card-body">
                                <div class="icon-box-icon">
                                 <span class="fas fa-business-time"></span></div>
                                <div class="icon-box-title">
                                    <h5>Business & Partnerships</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>Are you interested in partnering or integrating with Elektropay?</p>
                                </div>
                                <div class="icon-box-link"></div></a>
                            </div>
</div>
 </div>                                    
<div class="col-lg-3 col-md-6">
<div class="card">                
                            <a class="" href="/">
                             <div class="icon-box text-center card-body">
                                <div class="icon-box-icon"><span class="fas fa-newspaper"></span></div>
                                <div class="icon-box-title">
                                    <h5>Media Inquiries</h5>
                                </div>
                                <div class="icon-box-content">
                                    <p>Are you press or media looking to do a story about Elektropay?</p>
                                </div>
                                <div class="icon-box-link"></div></a>
 </div>
</div>                     
        </div>
                    </div>
                </div>
            </section>

            <section class="module">
                <div class="container">
                            
<div class="row">
  <div class="col-md-9 m-auto text-center p-b-0">
  <h1>Get In Touch With Us</h1>
    <div class="space" data-my="80px" style="margin-top: 80px;"></div>
  </div>
 </div>     
                            
<div class="row">
  <div class="col-md-6 m-auto p-b-0">
 <h3>Office Locations</h3>
<h5>Primary Office</h5>
<p> 
			<span class="block">The Elektropay Company, LTD.</span><br>
			<span class="block">Suite 11</span>
			<span class="block">
				Penhurst House, 352-356 Battersea Park Road.<br>
				London, England <br>
				SW11 3BY
			</span>
		</p>            
  <hr>
   <h5>Remote Office</h5>
<p>
			<span class="block">#455F </span>
			<span class="block">
				Calle 49 entra Calle 50 y 52, Centro Merida<br>
				Merida, Yucatan, Mexico <br>
				97000
			</span>
		</p>              
   </div>
<div class="col-md-6 m-auto p-b-0">
    {% include sandbox-signup-form.html %}     
</div>                     
  </div>
			
<div class="row">
                        <div class="col-md-12">
    <div class="space" data-my="60px" style="margin-top: 60px;"></div>
                        </div>
                    </div>
			
                </div>
            </section>
