---
layout: default
---
                            

            <section class="div">
                <div class="container">
                            
<div class="row">
  <div class="col-md-9 m-auto text-center p-b-0">
  <h1>Elektropay Testing Lab</h1>
    <div class="space" data-my="80px" style="margin-top: 80px;"></div>
  </div>
 </div>     
                            
<div class="row">
<div class="col-md-6 m-auto p-b-0">
<h5>{{ content }}</h5>
<p> 	</p>            
  <hr>
</div>
	
<div class="col-md-6 m-auto p-b-0">
    {% include sandbox-signup-form.html %}     
</div>                     
  </div>
			
<div class="row">
                        <div class="col-md-12">
    <div class="space" data-my="60px" style="margin-top: 60px;"></div>
                        </div>
                    </div>
			
                </div>
            </div>
